<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			 source="Enterprise Library Logging" formatter="Text Formatter"
			 log="" machineName="." traceOutputOptions="None" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			 template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
			 name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Event Log Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Event Log Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<connectionStrings>
		<clear />
		<!--<add name="Cfdi" connectionString="Data source=.\SQL2014;Integrated Security=True;Initial Catalog=ServicioCFDI;"
     providerName="System.Data.SqlClient" />

    <add name="Cfdiv33" connectionString="Data source=192.168.2.143;User Id=sa;Password=Passw0rd;Initial Catalog=Cfdiv33;"
     providerName="System.Data.SqlClient" />

   <add name="ParKoiwa2009" connectionString="Data source=192.168.2.143;User Id=sa;Password=Passw0rd;Initial Catalog=ParKoiwa2009;"
     providerName="System.Data.SqlClient" />
   <add name="Operadora" connectionString="Data source=192.168.2.143;User Id=sa;Password=Passw0rd;Initial Catalog=Operadora;"
     providerName="System.Data.SqlClient" />
	 <add name="Massriv2007" connectionString="Data source=192.168.2.143;User Id=sa;Password=Passw0rd;Initial Catalog=Operadora;"
     providerName="System.Data.SqlClient" />-->

		<add name="Cfdi" connectionString="Data source=.\SQL2014;Integrated Security=True;Initial Catalog=ServicioCFDI;"
		 providerName="System.Data.SqlClient" />

		<add name="Cfdiv33" connectionString="Data source=192.168.2.143;User Id=sa;Password=Passw0rd;Initial Catalog=Cfdiv33;"
		 providerName="System.Data.SqlClient" />

		<add name="ParKoiwa2009" connectionString="Data source=192.168.2.143;User Id=sa;Password=Passw0rd;Initial Catalog=ParKoiwa2009;"
		  providerName="System.Data.SqlClient" />

		<add name="ParKoiwa" connectionString="Data source=192.168.2.143;User Id=sa;Password=Passw0rd;Initial Catalog=ParKoiwa2009;"
		  providerName="System.Data.SqlClient" />

	</connectionStrings>
	<appSettings>
		<add key="Cfdiv33.Pac.default" value="Interdev.Cfdi.v33.NTLink.NTLinkPacProvider, Interdev.Cfdi.v33.NTLink, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<add key="Cfdiv33.Pac.NTLink" value="Interdev.Cfdi.v33.NTLink.NTLinkPacProvider, Interdev.Cfdi.v33.NTLink, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>

		<add key="Cfdiv33.Configuracion.Global.Formato" value="FacturaMassrivCf33.rpt"/>

		<add key="Cfdiv33.Invoice.Layout" value="Factura.rpt"/>
		<add key="Cfdiv33.Database" value="Cfdiv33"/>
		<add key="SIFv33.ImpuestosFactory.Database" value="Cfdiv33"/>

		<!--
    <add key="PacNTLink.Usuario" value="LAN7008173R5@ntlink.com.mx" />
    <add key="PacNTLink.Password" value="Factura.2016" />

    <add key="Pac.NTLink.Usuario" value="yanet_chavez@fussionweb.com" />
    <add key="Pac.NTLink.Password" value="M@$$r1v2013" />
    -->
		<!--<add key="Cfdiv33.Pac.NTLink.Usuario" value="lizz_tenorio@fussionweb.com" />
    <add key="Cfdiv33.Pac.NTLink.Password" value="M@$$r1v2013" />-->

		<add key="Cfdiv33.Pac.NTLink.Usuario" value="yanet_chavez@fussionweb.com" />
		<add key="Cfdiv33.Pac.NTLink.Password" value="M@$$r1v2013" />

		<!--
    <add key="Massriv2007.Direccion" value="prima07" />
    <add key="Massriv2007.FacturaProductos" value="Formatos\FacturaMassriv.rpt" />
    <add key="Massriv2007.FacturaServicios" value="Formatos\FacturaServicioMassriv.rpt" />
    <add key="Massriv2007.NotaDeCreditoProductos" value="Formatos\NotaDeCreditoMassriv.rpt" />
    <add key="Massriv2007.NotaDeCreditoServicios" value="Formatos\NotaDeCreditoServicioMassriv.rpt" />

    <add key="Koiwa.Direccion" value="prima07" />
    <add key="Koiwa.FacturaProductos" value="Formatos\FacturaKoiwa.rpt" />
    <add key="Koiwa.FacturaServicios" value="Formatos\FacturaKoiwa.rpt" />
    <add key="Koiwa.NotaDeCredito" value="Formatos\FacturaMassriv.rpt" />
    -->

		<add key="ParKoiwa2009.Direccion" value="prima07" />
		<add key="ParKoiwa2009.FacturaProductos" value="Formatos\FacturaParkoiwa.rpt" />
		<add key="ParKoiwa2009.FacturaServicios" value="Formatos\FacturaParkoiwa.rpt" />
		<add key="ParKoiwa2009.NotaDeCredito" value="Formatos\FacturaMassriv.rpt" />
		<!--
    <add key="Operadora.Direccion" value="prima07" />
    <add key="Operadora.FacturaProductos" value="Formatos\FacturaOperadora.rpt" />
    <add key="Operadora.FacturaServicios" value="Formatos\FacturaOperadora.rpt" />
    <add key="Operadora.NotaDeCredito" value="Formatos\FacturaOperadora.rpt" />
    -->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IServicioTimbrado" sendTimeout="00:25:00" closeTimeout="00:25:00" openTimeout="00:25:00" receiveTimeout="00:25:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<!--
      <endpoint address=" http://ntlink.com.mx/ntfacturacionws/ServicioTimbrado.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioTimbrado"
                contract="NTLink.Timbrado.IServicioTimbrado" name="BasicHttpBinding_IServicioTimbrado" />
      
      <endpoint address="http://pruebas.ntlink.com.mx/CertificadorWs33/ServicioTimbrado.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioTimbrado"
                contract="NTLink.IServicioTimbrado" name="BasicHttpBinding_IServicioTimbrado" />
       -->
			<endpoint address="http://cfdi33.ntlink.com.mx/ntfacturacionws3.3/ServicioTimbrado.svc"
					  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioTimbrado"
					  contract="NTLink.IServicioTimbrado" name="BasicHttpBinding_IServicioTimbrado" />

		</client>
	</system.serviceModel>
</configuration>
