@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SIE | Log in</title>
    <script type="text/javascript" src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

    <link href="~/Content/Login/css/style.css" rel="stylesheet" />
</head>
<body >
    <div class="cont">
        <div class="demo">
            @RenderBody()            
        </div>
    </div>
    <script src="~/Content/Login/js/index.js"></script>
</body>
</html>
