



/* BEGIN Alert styles */
#alert-Box {
    padding-bottom: 24px;
    background: url('./images/bg-box-bottom.png') bottom left no-repeat !important;
}

#alert-InBox {
    padding-top: 15px;
    background: url('./Images/bg-box-top.png') top left no-repeat !important;
}

#alert-BoxContent {
    background: url('./Images/bg-box-body.png') top left repeat-y !important;
    padding: 0px 20px;
}

#alert-BoxContenedor {
    padding: 0px 0px 5px 55px;
    text-align: left;
    font-family: Verdana;
    font-size: 12px;
    color: #000;
}

    #alert-BoxContenedor h1, #alert-BoxContenedor h2, #alert-BoxContenedor h3, #alert-BoxContenedor b, #alert-BoxContenedor strong {
        text-align: left;
        font-family: Verdana;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
    }

#alert-Buttons {
    text-align: right;
}

    #alert-Buttons input {
        margin: 10px 10px;
    }

#alert-BoxContenedor #BoxPromptInput {
    margin-top: 5px;
}

#alert-Box .BoxAlert {
    background: url('./images/dialog-warning.png') top left no-repeat;
}

#alert-Box .BoxConfirm {
    background: url('./images/dialog-help.png') top left no-repeat;
}

#alert-Box .BoxPrompt {
    background: url('./images/dialog-help.png') top left no-repeat;
}

#alert-Box .BoxInfo {
    background: url('./images/info.png') top left no-repeat;
}

#alert-Box .BoxError {
    background: url('./images/dialog-error.png') top left no-repeat;
}

.thlpp1 {
    background: #d33724;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle !important;
}

.thlpp {
    background: #ffcccc;
}

.thlppc {
    color: #5c5c3d;
}

.cellValue {
    width: 147px !important;
}

.thlpp-border-left {
    border-left: 2px solid #d33724 !important;
}

.thlpp-border-right {
    border-right: 2px solid #d33724 !important;
}

.thlpp-border-top {
    border-top: 2px solid #d33724 !important;
}

.thlpp-border-bottom {
    border-bottom: 2px solid #d33724 !important;
}

.thlpps {
    background-color: #BCF5A9;
}


#mandar-solicitud {
    margin-top: 10px;
}

#aprobar-propuestas {
    margin-top: 10px;
}

#rechazar-propuestas {
    margin-top: 10px;
}


.wht {
    width: 100px;
}

.colorefp {
    background-color: #CBCBCB;
}

.colorefxp {
    background-color: #848484;
    color: #FFFFFF;
}

.colorefxhp {
    background-color: #545454;
    text-align: center;
    vertical-align: middle !important;
    color: #FFFFFF;
}

.colorefxh {
    background-color: #2d85da;
    text-align: center;
    vertical-align: middle !important;
    color: #FFFFFF;
}

.colorefx {
    background-color: #6eb1f2;
}

.coloref {
    background-color: #f08787;
}

.colore {
    background-color: #ffcccc;
}

.Listax {
    width: 90px !important;
}

.Listas {
    width: 60px !important;
}

.Familiax {
    display: inline-flex;
}

#ItemCode {
    margin-bottom: 6px;
}

.underPrice {
    background-color: #ffff00;
    color: red;
}


#ItemCode {
    text-transform: uppercase;
}

#btn-search-reference {
    text-transform: uppercase;
}


#txt-search-reference {
    text-transform: uppercase;
}

.aprovate-fields {
    background-color: rgb(110, 177, 242);
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle !important;
}

.input-comentario {
    width: auto;
}


.nombre-familia-class {
    width: 90px !important;
}

.selected-fam-success {
    color: green;
    background-color: rgb(110, 177, 242)
}

.selected-fam-faild {
    color: red;
    background-color: coral
}
/*PAPLERIA*/
.tr-hidden {
    background: #ccddff;
}

.th-stationery {
    background: rgb(221, 75, 57);
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle !important;
}

.th-stationery-2 {
    background: rgb(221, 75, 57);
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle !important;
    height: 51px;
}

.th-stationery-status {
    background: rgb(221, 75, 57);
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle !important;
    height: 51px;
}

.input-order {
    margin-right: 30px;
    width: 60px;
}

.nombre-cliente-custom {
    text-transform: uppercase
}

.chat-box {
    height: 150px !important
}

.hide-autocomplete {
    visibility: hidden
}

.color-sku {
    background-color: #e6ffe6
}

.main-timeline-section {
    position: relative;
    width: 100%;
    margin: auto;
    height: 30px
}

    .main-timeline-section .timeline-end, .main-timeline-section .timeline-start {
        position: absolute;
        background: #FFF;
        border-radius: 100px;
        border: 3px solid #F2635F;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        z-index: 1
    }

    .main-timeline-section .timeline-end {
        right: 0
    }

    .main-timeline-section .conference-center-line {
        position: absolute;
        width: 100%;
        height: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: #F2635F
    }

.timeline-article {
    width: 20%;
    position: relative;
    min-height: 30px;
    float: right
}

    .timeline-article .content-date {
        position: absolute;
        top: 35%;
        left: -30px;
        font-size: 18px
    }

#letter-small, #letter-small-gestion {
    font-size: 13px
}

.timeline-article .meta-date {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #F2635F
}

.timeline-article .content-box {
    box-shadow: 2px 2px 4px 0 #c1c1c1;
    border: 1px solid #F2635F;
    border-radius: 5px;
    background-color: #fff;
    width: 180px;
    position: absolute;
    top: 60%;
    left: -80px;
    padding: 10px
}

.meta-date-almacen, .meta-date-almacen-gestion, .meta-date-autorizado, .meta-date-autorizado-gestion, .meta-date-direccion, .meta-date-direccion-gestion, .meta-date-pendiente, .meta-date-pendiente-gestion {
    background: #F2635F !important
}

.timeline-article-bottom .content-date {
    top: 90%
}

.timeline-article-bottom .content-box {
    top: 0
}

    .timeline-article-bottom .content-box:before {
        content: " ";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        border: 10px solid transparent;
        border-top-color: #F2635F
    }

#small-letter {
    font-size: 12px
}

.span-help-block-destino-monto-ocupado {
    color: #FF0000 !important;
}

.span-help-block-destino-monto-disponible {
    color: #0000cc !important;
}




#input-factura-destino-monto-permitido-servicio-otro-descuento {
    max-width: 30%;
}

#input-factura-destino-monto-solicitado-servicio-otro-descuento {
    max-width: 30%;
}

.itemcode-inventario {
    max-width: 125px;
}

.cantidad-inventario {
    max-width: 50px;
}

.precio-inventario {
    max-width: 99px;
}

.subtotal-inventario {
    max-width: 130px;
}

.color-sku {
    max-width: 125px;
}

.cantidad-servicio-descuento {
    max-width: 50px;
}

.cantidad-default-servicio-descuento {
    max-width: 50px;
}

.input-descuento-solicitado-servicio-descuento {
    max-width: 50px;
}

.precio-sd {
    max-width: 90px;
}

.subtotal-sd {
    max-width: 137px;
}

.descuento-sd {
    max-width: 90px;
}

.total-sd {
    max-width: 90px;
}

.tr-roles-0 {
    text-align: center;
    color: #FFFFFF;
}

.tr-roles-1 {
    text-align: center;
    color: #FFFFFF;
}

.tr-roles-2 {
    text-align: center;
    color: #FFFFFF;
}

#tabla-roles {
    text-align: center;
    font-size: 11px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.product-info .product-title {
    font-weight: 600;
}

.product-info .product-description {
    display: block;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-img {
    text-align: center;
}

    .product-img img {
        width: 70px;
        border: 1px solid #d5d2cf;
    }

.list-group-item {
    padding: 1px 15px;
}


.box.box-danger {
    border-top-color: #dd4b39;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}
