@{
    ViewBag.Title = "Códigos de barras";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>

<section class="content-header">
    <h1>
        Códigos de barras
        <small>Panel de control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Diseño</a></li>
        <li class="active">Código de barras</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Código de barras</h3>
                    <div class="box-tools">
                        <div class="form-inline">
                            <div class="form-group">
                                <div id="btnPagos" class="btn btn-success btn-block"><i class="fa fa-binoculars"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table table-responsive">
                        <table class="table table-bordered" id="Pagos">
                            <thead>
                                <tr>
                                    <td>Orden Compra</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="DetallePagos">
                                <tr>
                                    <td>
                                        <input class="form-control" id="Oc"  placeholder="Orden de compra" type="number">
                                    </td>
                                    <td>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="btn btn-success btn-block" onclick="GetCodeBars()"><i class="fa fa-download" ></i></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="box-footer">

                </div>
                <div id="PagosRefresh" style="display:none;" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://unpkg.com/jspdf-autotable@2.3.1/dist/jspdf.plugin.autotable.js"></script>
<script>
    var ListSap = [];
    var CurrentDocNum;
    var GranTotal = 0;

    $("#cbxTodos").on("click", function () {
        $(".procesar").prop("checked", false);
        ListSap = [];
        GranTotal = 0;
        $("#GranTotal").text("Total a pagar: " + formatNumber.new(GranTotal, "$"));
    });

    $("#cbxEmpresa").change(function () {
        $("#btnPagos").click();
    });

    function GetCodeBars() {
        if ($("#Oc").val() <= 0)
        {
            $.alert("no se ha ingresado una orden de compra correcta");
        }

        $.post('@Url.Action("CreateBarCode", "BardCode")', {
            OrdenCompra: $("#Oc").val()
        }, function (data) {
                console.log(data.Message);
                if (data.Context != null) {

                    GeneraPdf(data.Context.ItemCode, data.Context.Identifier, data.Context.Base64, data.Context.Descripcion, data.Context.Base64Inner, data.Context.Base64Master);

                } else {
                    alert("error");
                }
        });
    }

    var splitRegex = /\r\n|\r|\n/g;
    jsPDF.API.textEx = function (text, x, y, hAlign, vAlign) {
        var fontSize = 5;// this.internal.getFontSize() / this.internal.scaleFactor;

        // As defined in jsPDF source code
        var lineHeightProportion = 1.15;

        var splittedText = null;
        var lineCount = 1;
        if (vAlign === 'middle' || vAlign === 'bottom' || hAlign === 'center' || hAlign === 'right') {
            splittedText = typeof text === 'string' ? text.split(splitRegex) : text;

            lineCount = splittedText.length || 1;
        }

        // Align the top
        y += fontSize * (2 - lineHeightProportion);

        if (vAlign === 'middle')
            y -= (lineCount / 2) * fontSize;
        else if (vAlign === 'bottom')
            y -= lineCount * fontSize;

        if (hAlign === 'center' || hAlign === 'right') {
            var alignSize = fontSize;
            if (hAlign === 'center')
                alignSize *= 0.5;

            if (lineCount > 1) {
                for (var iLine = 0; iLine < splittedText.length; iLine++) {
                    this.text(splittedText[iLine], x - this.getStringUnitWidth(splittedText[iLine]) * alignSize, y);
                    y += fontSize;
                }
                return this;
            }
            x -= this.getStringUnitWidth(text) * alignSize;
        }

        this.text(text, x, y);
        return this;
    };

    function GeneraPdf(Sku, Identifier, Base64, descripcion, Base64Inner, Base64Master) {

        var pdf = new jsPDF();
            var width = pdf.internal.pageSize.getWidth();
            var height = pdf.internal.pageSize.getHeight();

            pdf.setFontSize(10);
        
            /*Datos autor*/
            pdf.setProperties({
                title: 'Código de barras',
                subject: '',
                author: 'Luis Vega Villegas',
                keywords: '',
                creator: 'Luis Vega Villegas'
            });

        
        //Encabezado
        var encabezado = "";
        var textoarticulo = "";
        var textodescripcion = "";
        var gitbox = "";
        var innerbox = "";
        var masterbox = "";

        encabezado += 'Impresión solicitud de diseño para la orden de compra: ' + Identifier;
        textoarticulo += 'Código Articulo:  ' + Sku;
        textodescripcion += descripcion;
        gitbox += "GIFT BOX";
        innerbox += "INNER BOX";
        masterbox += "MASTER BOX";

        pdf.setFontSize(12);

        pdf.textEx(encabezado, 5, 35, 'middle', 'middle');
        pdf.textEx(textoarticulo, 5, 50, 'middle', 'middle');
        pdf.textEx(textodescripcion, 5, 58, 'middle', 'middle');
        pdf.textEx(gitbox, 25, 71, 'middle', 'middle');
        pdf.textEx(innerbox, 90, 71, 'middle', 'middle');
        pdf.textEx(masterbox, 160, 71, 'middle', 'middle');

        var Logo = '/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCABsAnsDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9/KKK+dP24P8Agpn4D/YG13w/YeMdJ8X6lN4jgmuLZtGs4JURYmVWDtLNEM5ccLn3xkZyrV6dGHtKrsj0cqynGZniY4PAU3UqSvaK3dld/gfRdeU/tl6j8VtL+BGoS/Bix0rUfHQnh+zw37RhGh3Zk2mR0j34GBuOOT3wa+V/+Ijb4I/9Ct8VP/BbYf8AybR/xEbfBH/oVvip/wCC2w/+Ta86pm2CnFx9ra/Vbn3GB8NuLMNiIYh5bKfK0+WSvF26SV1dPqrnK/8ACwv+CkP/AEIvhX/wI0b/AOS6P+Fhf8FIf+hF8K/+BGjf/JddV/xEbfBH/oVvip/4LbD/AOTaP+Ijb4I/9Ct8VP8AwW2H/wAm15vtMH/0Fz/8C/4B+gfUuKP+iaw3/gmX/wAtOV/4WF/wUh/6EXwr/wCBGjf/ACXR/wALC/4KQ/8AQi+Ff/AjRv8A5LrzHVv+Dk7xa2q3Jsfhn4dSyMrG3WfUZmlWPJ2hyAAWxjJAAz2qD/iJN8b/APRNfCv/AIH3Fc317Bf9BNT+v+3T3lwlxY1f+wcD/wCAr/5ccz8dPi3/AMFArT4k3ceo6R8T7C5WOLMHhjRDd6ag2DGyW1SWJierYckEkHGMDkf+Fx/t5/8APp8f/wDwmLz/AOMV6p/xEm+N/wDomvhX/wAD7ij/AIiTfG//AETXwr/4H3FckquDbv8AWp/ifTYfLuKKdKNN8P4TRJaOml9zbf4v1PK/+Fx/t5/8+nx//wDCYvP/AIxR/wALj/bz/wCfT4//APhMXn/xivVP+Ik3xv8A9E18K/8AgfcV5ff/APBfv9oK8vppY7vwhaxyuzrDFowKQgnIVSzs2B0G4k8ckmspVsLHbEVH/Xm0ehhsq4jqt8+R4OFv5nHX/wABjL8SP/hcf7ef/Pp8f/8AwmLz/wCMV8x/tD+MPiF4y+Kd9N8ULrxPceMLVUt7qPX1lS8tVxvWMxyANGuH3BcAfPkDmvpz/h/n+0L/ANBLwr/4JU/xrkfiR/wV2+Jfxkngk8X+HPhR4qktRthfWPBtpfNCOThTKGwOT09T61yYiph6kLKtN+quvzPpMjwWe4PEe1nlmFgrWvSlyy/9N6ry0Plqivf/APh4Tq//AES74A/+G503/wCN0f8ADwnV/wDol3wB/wDDc6b/APG64fZ0P5393/BPsPrubf8AQLH/AMG//aHgFfuZ/wAEDp/Flz+wTE3iZ9SezGvXS+HjeEkDThFAAIs8+UJxcge4OOMV+WcH/BRDWrS4SWP4Y/ASOSNgyOvw600MpHIIPl8GvTNP/wCC8vx+0uxhtrW78IW9tbosUUUWhRokSKMKqqDgAAAAD0r1MpxWGwlb2spN6W0X/BPzzxK4cz/ibK1luHw9OHvKXNKpe1r7Wh1vq77addP3Yor8Lv8Ah/n+0L/0EvCv/glT/Gvsf/gjj/wVL8c/tofFPxR4K8ewaXcXljpX9t6df2Fr9m2RpNFDLFIu4hsmeJkIUEYkyTlcfV4bP8LXqqlC933R/NnEHgtxFk+X1MyxPs3Cmrvlk27XSvZxW1+5+hVFFFe2fkgUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHMfEr4z+D/g1Y21z4w8V+GvClveyGK3l1nVILFLhwMlUaVlDEDnArz3xL+1t+zz40t44tY+JvwZ1WOFt0aXniLTZ1jJ4JAaQ4P0o/a+/YK+Hf7cEGgL49s9SuW8MtcGwezvntmj8/y/MBxwwPkx9Rxt46mvFP8AhwX+z1/0DvFX/g6f/wCJrzsRLGc7VKMXHzb/AMj7jJKHC31WFTMcTXhX1uoQi4rV2s3JPa19Froeq/8AC9f2Wf8AocfgB/4NtI/+Lo/4Xr+yz/0OPwA/8G2kf/F15V/w4L/Z6/6B3ir/AMHT/wDxNH/Dgv8AZ6/6B3ir/wAHT/8AxNYf7f8A8+4fe/8AI9z/AIw7/oOxX/gEf/kz1X/hev7LP/Q4/AD/AMG2kf8AxdeY6t/wUp/Yw0XVbmzm1zwa8trM0Ltb+DrqeJmUkEpIloyOuRwysVI5BIrC8T/8ERv2X/BRg/tm41XSftO7yftviUQebtxu278ZxuGcdMj1rx3Vv+CF/wACbnVbmSz+OjWlpJKzQQNeWErQxkkqhfcNxAwM4GcZxXNWqZhHSNOF/X/hj28pwHBNa8sRjcZy9HyW/JVL/gdbrnx9/wCCc3iLV7i+urXwg1zdSGWUx+EtWhVmPUhEtgo/AVW/4XH/AME3v+fTwr/4TGs//GK5T/hxR8Ef+i+f+R7D/wCLo/4cUfBH/ovn/kew/wDi64rY/wD580vw/wAz66MuDorlWbZhZec//lR1f/C4/wDgm9/z6eFf/CY1n/4xR/wuP/gm9/z6eFf/AAmNZ/8AjFcp/wAOKPgj/wBF8/8AI9h/8XXE/ET/AIJYfsvfCfWEsNe/aXisr2SPzRCv2WdlU9C3lltue2cZqZPGxV5UaS+7/wCSN8PS4Urz9nQzTMZS7L2jf3KiZWuft7fscWmsXEVh+zRLe2cchWG4leKBplHRim9tufTJrya/+MX7IF5fTSx/B34n2scsjOsMXipSkIJyFUsGbA6DcSeOSTTtW/4J/wDwnXVbkWP7UnwzeyErfZ2ntLlZWjydpcAEBsYyASM1B/wwB8Mf+jovhX/4C3f/AMTXkTlip7xh/wCSH6Xg8Pw5h1eliMWr264v8dA/4Wz+yH/0ST4qf+FTH/8AE0f8LZ/ZD/6JJ8VP/Cpj/wDiaP8AhgD4Y/8AR0Xwr/8AAW7/APiaP+GAPhj/ANHRfCv/AMBbv/4motiP5If+SHd7bI/+gnF/fiv/AJEP+Fs/sh/9Ek+Kn/hUx/8AxNH/AAtn9kP/AKJJ8VP/AAqY/wD4mvZ/Af8Awb6a18UfC9rrfhv4xeA9d0i9G6C8sIZZ4ZR7OpI47jqO9bH/ABDZeN/+ileFf/AC4roWCzBq6ox+6J4VTi7gqnNwnmlZNbp1cQmjwD/hbP7If/RJPip/4VMf/wATR/wtn9kP/oknxU/8KmP/AOJrt/jT/wAEcdI/Z11C3s/G37Qfwz8O3t0u+K1uo5vtDL/e8sZYL/tEYriP+GAPhj/0dF8K/wDwFu//AImsZU8VF8soQT9IHrYbMOHcRTVahjMTKL2alimn6NKwf8LZ/ZD/AOiSfFT/AMKmP/4mvaf2Sf8AgqX+z1+xP/asvgb4N+L4NQ1nalzf3urQ3N0YhgiFXYfLHkbioAycE52rjxb/AIYA+GP/AEdF8K//AAFu/wD4mj/hgD4Y/wDR0Xwr/wDAW7/+Jp0p4unLnpxgn/24Y5hhOGcfQeFxlbEzpy3i/rTT9Vy66n7A/sFf8FB/CH7f/gfVdS8O22oaRqegTpDqel3oBktRJvMMgdflZHEb47gowI4BPvdfmt/wS48Vfs+f8E8/CHilL749+EPEeueL57d7qS3jlgt7aK3EoiRN2Sx/fSMWIX7wGPl3H9Cvht8TvD3xh8G2fiHwrrWm+INEvxugvbC4WaF8HDDIPDA5DKcFSCCAQRX22W4qVWjH2rXP1s1+h/I3HnD9HL81rPLaVSOEulCU4zjf3U2k5JN2fNa+tlfXc36KK/nm/wCDiD/grz4w+MP7S+v/AAZ8B+IdU8PfD/wDcvpWsDT7p7eTxDqUbFbgTMuCYIXBiWI5UvE0h3ZjEfonxB+9/iP44+CvB+szadq/jDwtpeoW+3zbW81WCCaLcoZdyMwYZUgjI6EHvXFf8PB/gH/wkf8AY/8AwvD4Qf2v9p+x/Yf+Ey077T5+7Z5Xl+du37vl24znjGa/j6ooK5T+0Hwl8XvCfj/Uns9C8UeHdau44zM8FhqUNzIkYIBcqjEhcsoz0yR610dfxQ6Zqdzo2pW95Z3E9pd2kqzQTwyGOSCRSCrqw5VgQCCOQRX9IH/BMr9v/wAV6h/wQZ1v4s+ONevtY8TfD/SNciTV72UT3moyWoka0MjOCHly0UW59xcqC5YsxIKx9z/8NL/Dj/ooHgn/AMHlr/8AF0f8NL/Dj/ooHgn/AMHlr/8AF1/GlRQOx/Zb/wANL/Dj/ooHgn/weWv/AMXXZ21zHe20c0MiSwyqHjkRgyupGQQRwQRX8T9fY/8AwQO+L/iL4Vf8FTvhbBoWqXVjaeKdQbRtWt0kIh1C1lifMci5wwDBXXPR0UjkUBY/qB8Y/Evw58O/s/8AwkHiDRNC+2bvI/tC+itfP243bd7DdjcucdNw9aPB3xL8OfET7R/wj/iDRNd+x7fP/s++iuvI3Z27tjHbna2M9dp9K/n1/wCDrj45L8QP+CgegeDrW6821+H/AIWt4rmHcp8i9u5HuJOjEjNubM4YKeM4wVJ+vv8Ag0g+CTeE/wBkv4k+PZoPKl8Z+JItNhclsz29hBlWAzt2+beTrkAHKtnIC4BW0ufrRWV4u8caL4A01LzXtY0vRLSSUQpPf3cdtG7kEhAzkAthWOOuAfStWvxF/wCDvn45LJqfwa+GttdfPDFf+JtRtty9GMdtaPjduH3L0ZKgHsThgAR+y/hL4veE/H+pPZ6F4o8O61dxxmZ4LDUobmRIwQC5VGJC5ZRnpkj1qrrfx78DeGtVnsdR8Z+E7C9tW2TW9zq9vFLC3oys4IP1Ffiv/wAGhXwSa/8Aiz8X/iPLBtTSdItPDdrMS37w3MxuJlAztO37JATkZG9cHls/l1+2X8bW/aR/a0+JPj0z/aIvFniS/wBSt3wwAt5J3MKgMAwVYtigEA4UZ5oHY/rj/wCGl/hx/wBFA8E/+Dy1/wDi6fbftG/D29uY4YfHngyWWVgkcaa3bMzsTgAAPkkntX8Z9FA7H9slFfy9f8G/f7TXjb4L/wDBSf4ceHNB169g8N+NNSfS9Z0h5Waxvo5YWG9os7RKjJGyyDDAxgElCyt9x/8ABzj/AMFV/Ffwt8aaZ8BPhv4h1Hw7I2nrqfjDUNOma3upVm/497BZVIZFMYMku3/WLNEucCRGBWP148R/HHwV4P1mbTtX8YeFtL1C32+ba3mqwQTRblDLuRmDDKkEZHQg964bW/8Agoj+z/4a1aew1H45/B2wvrVtk1vc+NNNilhb0ZWmBB+or+P6igfKf2TaZ+1V8L9a023vLP4keAruzu41mgnh8QWkkc0bAFXVhJhlIIII4INd1bXMd7bRzQyJLDKoeORGDK6kZBBHBBFfxP1+0f8AwaKfGnxPqHi74reArnWL268J2Gm2mrWWnTSs8NhctO6SPCpOI/MDDftHzFVJ6UCsfuDVHxH4m07wfo02o6tqFlpen2+3zbq8nWCGLcwVdzsQBliAMnkkDvV6vyr/AODs341r4N/Yi8FeCYngF3428UrcurOu9rWygdpNq/e/1s1tlhwOh+8KBH6O/wDDS/w4/wCigeCf/B5a/wDxdbHhD4qeF/iFczQ6B4k0HW5rdQ8qafqEVy0Sk4BYIxIGe5r+Lqv1g/4NGfGP2H9tX4leH/s+7+0/BJ1D7R5mPK+z39rHs2453fas5yMbOhzwDsf0CVzni34veE/AGpJZ674o8O6LdyRiZIL/AFKG2keMkgOFdgSuVYZ6ZB9Kk+KnxN0X4L/DTX/F3iO9TT9B8M6fPqeoXL9IYIULucdzhTgdzgDrX8iv7dH7XviD9ur9qjxd8TPETuLjxBeH7HaEjZptknyW1soHGI4goJA+ZtznLMSQErn9aX/DS/w4/wCigeCf/B5a/wDxddZomuWXiXSoL/Try11Cxul3w3FtKssUy+qspII9wa/is0zTLnWdSt7Ozt57u7u5VhgghjMkk8jEBVVRyzEkAAckmv7J/wBmn4QQ/s+/s7eBfAsCwLF4O0Cx0YeSxZGNvAkRYMQC2SpO4gE5yRk0A1Y7euLuf2jfh7ZXMkM3jzwZFLExSSN9btlZGBwQQXyCD2r5x/4Laf8ABRuP/gnL+xpqGraXKn/Cf+L2bRfC0JwfKnZcy3bDIOyCMlhwQZGhUjDkj+WC5uZL25kmmkeWWVi7u7FmdickknkknvQCR/Z34X+NHg/xxqosNF8WeGtXvmUuLey1SC4lKjqdqMTgeuK6av5ff+Dcv4kL8PP+CuPw3ile1itPEcGpaPNJMDlTJYzvEEweGaaKJOQRhz3OR/UFQD0CuB8bftVfC/4awX0viP4keAtAi0yUw3j6l4gtLVbSTf5eyQySDY28hcNg5OOtflF/wdG/8FLvEXw2vtG+AXgjWLrRjqunrq/iy7spjHPNA7ssFluABVW2GR9rfMpRT8pYN+G1AJH9e/8Aw8t/Zy/6L/8ABP8A8LnTP/j9egfDf49eBvjJGjeEPGnhTxUssBuUOj6vb3weIEKZB5TtlckDd0yR61/GRWn4I8b6x8NvGGmeIPD+p3uja5o1yl5YX9nM0M9pMjBkkRxyrAgHIoHyn9qNYHi/4qeF/h7cww6/4k0HRJrhS8SahqEVs0qg4JUOwJGe4r4s/wCCh3/BTfxB+x//AMEg/CnxOntks/id8RNC0qxsLa4ILWOp3tiJ55SEUKTAqzOPlVC6IONwFfzSeP8A4ga78VfGmpeIvEur6jr2vaxO1zfahf3DT3F1IerO7Eknp+Q9KBJXP64P+Hlv7OX/AEX/AOCf/hc6Z/8AH66X4fftjfCL4t3Kw+FPip8OPE0rTpbKmk+JbK9ZpX4SMCORjuYkYXqc8V/HHRQPlP7ZK4/U/wBoPwDoupXFneeOPCFpd2krQzwTazbRyQyKSGRlL5VgQQQeQRXwJ/wbNftF614y/wCCW/iDUvHGvXuo2Hw+8U6jp1tdXbyXEtnp0NjZ3ezPzOyoZ5doGcLtUDAAr+er4z/Ey6+NPxi8V+Mb9XW+8WazeazcB5PMYSXM7zNlsDccuecDPoKBWP7Cf+Gl/hx/0UDwT/4PLX/4uj/hpf4cf9FA8E/+Dy1/+Lr+NKigdj+1nRNcsvEulQX+nXlrqFjdLvhuLaVZYpl9VZSQR7g1V8XeONF8Aaal5r2saXolpJKIUnv7uO2jdyCQgZyAWwrHHXAPpX8h37A/xo8T/AP9sX4c+IfCWsXui6pH4gsbd5LeVkFzBJcRrLBKARvidchkPBBr9Rf+Dvn41LP4j+DXw6heDfa21/4jvE3KZMSNHb25x95V/dXPJGGPT7hoFY/ZfQPjj4K8VXjW2l+MPC+pXCRNM0VrqsEzrGoyzkKxO0DknoKpf8NL/Dj/AKKB4J/8Hlr/APF1+HP/AAaSfBCLxn+1P8UvGl3ZwXlp4X8LxaPiaOORY5dQuAwIDfMGMVlOmVGNruCfmAP5X/ELwhJ8PfHuuaBNMlxNoeoT6fJKgIWVopGjLAHnBK5oCx/aTbXMd7bRzQyJLDKoeORGDK6kZBBHBBFSV89f8EmvF8fjj/gmT8Br2KF4Fh8DaVp5VyCS1tbJbM30YxFh7EV9A3NzHZW0k00iRQxKXkkdgqooGSSTwABQIx/GPxL8OfDv7P8A8JB4g0TQvtm7yP7QvorXz9uN23ew3Y3LnHTcPWofCPxf8J+P9Sez0HxR4d1u7jiMzwWGpQ3MiRggFyqMSFyyjPTLD1r+Wz/gs1/wUFuf+CiP7bOueI7Wfd4M8N7tB8LRLkK1jFK5+0EZ+/O7NITjO0xqfuCv2K/4NqP+Ccv/AAyn+yf/AMLP8T6Z9m8e/FaJbqES/wCt0/Rfla1iIyQrTEG4bHJV4VYBoyKB2P0rooooEfmv/wAOnP2pv+jrfFX/AIPtX/8Aj1H/AA6c/am/6Ot8Vf8Ag+1f/wCPV1X/AA96+N3/AEZh8VP+/l//APKyj/h718bv+jMPip/38v8A/wCVlfLcuWd5/wDlT/I/on6xx/8A8+sN/wCWf/yRyv8Aw6c/am/6Ot8Vf+D7V/8A49R/w6c/am/6Ot8Vf+D7V/8A49XVf8Pevjd/0Zh8VP8Av5f/APyso/4e9fG7/ozD4qf9/L//AOVlHLlnef8A5U/yD6xx/wD8+sN/5Z//ACR87/tKf8ER/wBpLx9qul3F98Rbf4qSQxPGs+sa3cmXTxkHYv2kt8rEk/KeqnI6Z80/4cGftC/9A3wr/wCDpP8ACu0/bO/4LVftEad8S7Oz0vw/qvwLjisVd9F1TS4ru8uyzN/pDNeWisFONqhUA+VuWPTyH/h9j+05/wBFM/8ALd0r/wCRa8fESyn2jTU/69dfvP1TI6HiW8DTlCeEimtnzXWv/TpOn/4C2vncveI/+CGv7SeiXyxW3gnT9YRow5ms9fsVRTkjaRNLG2eAeBjkc9cUf+HJ37Tn/RM//Li0r/5Ko/4fY/tOf9FM/wDLd0r/AORaP+H2P7Tn/RTP/Ld0r/5Frmf9k/8ATz/yU9+C8SoqzeBf/g/9LB/w5O/ac/6Jn/5cWlf/ACVXmnxo/YE+Mv7PusRWXir4deJbOS4jEkUtrb/2hbPnPyie3MkW8YOU3bgMEjkV6X/w+x/ac/6KZ/5bulf/ACLXnPxn/wCChHxq/aCuYZPFPxI8S3awYMdvaTjT7YEAgN5NsI4y+CRuK7sE881jW/s7l/c89/Pl/Q9PKv8AXr6wv7S+qey6+z9tzeXxaHDf8KL8b/8AQneKv/BTcf8AxFH/AAovxv8A9Cd4q/8ABTcf/EUf8L18b/8AQ4+Kv/Btcf8AxdH/AAvXxv8A9Dj4q/8ABtcf/F1w/uvM+u/4U/7n/kwf8KL8b/8AQneKv/BTcf8AxFH/AAovxv8A9Cd4q/8ABTcf/EUf8L18b/8AQ4+Kv/Btcf8AxdfQf/BML9sT4o+Cf2z/AABpNj4o8S6vpPijXLXSdU0q6vJrq2nt55UjklMbFgHjUmQSAAqEPO0sDrRhRnUUG2rux52bY3NsHgquLpxpycIuVm5RvZX3s7fcfo5/wQo/Z58d/AD9lPWI/HFhquhPruuSXun6NqEJhns4RFHG0rRt88ZkdW+RlU4jVujivtuiiv1HC4dUKMaMdUj/ADu4jzytnOZ1s0rxUZVZXaWy6fl167n4v/8ABYL/AIJ7/GbxF+2H4o8caL4V8ReOPDXiVoJbG50mBr+e1CwRxtbvBGDIgRlO07dpUqd2dwHyh/wwr8bv+iOfFT/wk7//AONV+tv/AAXB/bU8e/sj/CDwna+Ap20e88XXlzBdaykUcr2UcUaHykDghXk8wkOBlRE2CCQR+Xn/AA9N/aF/6Kx4q/7+p/8AE18Lm9DBUsVKMnK71e3XXqf2H4ZZzxXmHDuHq0KeH9nFckXJzUmoe7dqKaT07q+9krHK/wDDCvxu/wCiOfFT/wAJO/8A/jVH/DCvxu/6I58VP/CTv/8A41XVf8PTf2hf+iseKv8Av6n/AMTR/wAPTf2hf+iseKv+/qf/ABNebbA95/cv8z7/AJ+Lv5MN/wCBVf8A5E5eD9g744XM6Rr8HPiludgoLeFb5VBPqTEAPqTX7Af8ER/2UfHX7Kn7MWsWvjqBtIvPEetPqdto0hDSWCCKOIvIQSA8nlg7eyomTklV/Kux/wCCrP7Q+nX0M6fFbxK0kEiyKJfKlQlTkbkZCrD1DAg9CMV+5H7Dfx21T9pj9kzwP451uxXTtW8QWHm3cMabEMiSPGZEXc2EfZvUE52uM817/DtLCSxDlScuZLra34H4n45ZhxJSyWnh8whRVGpNJuDk5XSckveSsnZ6q+1tL69L+0Z8YrX9nr9n/wAb+PL4IbXwboV7rUiOeJBbwPLs9csVAAHJJAHJr+PDw14f1747fFmw0qzWfV/E/jLV47WBcFpL28upgqjgZLPI46Dqa/pO/wCDlD4z/wDCpP8AglF4xso5fIu/HGpaf4dt3EuxvmnFzKoGDu3QWsykZHDE54wfxY/4IC/Br/hdP/BWL4UW81uk9j4eu7jxFcl1RhD9jt5JoX2v1P2hYACoLKWDD7uR9qfygtj97vgl/wAEhf2Yv2WfgTpmial8Lfhjrseh2kf9peIfFWh2l9dX0wRVluZZ7pXMYdwW8tWEabsIqjirf/DNP7FX/Qgfsuf+CPQv/iK4X/g4StvHniX/AIJoeI/Cvw78LeLPFuu+NdUsNJmtfDulXWo3kNqJftUrlbcFkjIthGzMCpEuw8uK/nW8Tf8ABPj4+eC/DeoaxrHwQ+L+k6TpNtJe319e+DtRgtrKCNS8kssjQhURVDMzMQAASeBQJH6QftNf8G8Hhb4qftBeMPEngn47fA/wT4T1vVJrzS9CS+8xdNhdsiMEOAB32qNqZ2rwor2n/gqJ8P2/4Jgf8G63hz4LweI4dYv9c1KDQm1G1LKL0XF9catcGLaVIiIRo/mDAo+05Lbq/Dz4MfDO6+NPxi8KeDrBnW+8WazZ6NblI/MYSXM6QrhcjccuOMjPqK/Wj/g7R+Jlr4a1v4G/CDR1S00zw3o1zrLWwk8xhG7JaWmSwLgItrcAHed+85GVBIM+Qf8AggN+y9pn7Vv/AAU28G6R4h0HTvEvhTQbS+13W9Pv7QXVrNDFbtHEJI2RkZftU1sCJAFOcZyQD/RT/wAO0v2cv+iAfBP/AMIbTP8A4xX8on7O37UPxA/ZM8a3XiP4b+KtU8Ia5e2L6bPeWDhZJbZpI5GiOQflLxRt9UFez/8AD6z9qv8A6Lh42/7/AMf/AMRQDufpT/wc5fszfAT9mv8AY/8ACk/hP4XeA/CXjvxD4kjtNPuNB0uLSZEtIoZZLmRlt0VJVBMEZV+czKw+7Xxv/wAGy3wMb4uf8FTtA1iSBJ7H4e6Nf+IJxLGHjLmL7HF1GNwku1kXHIMWR92vkH9o79r34m/td63puofEvxtr3jK60eBrexbUbjetojNuYIowqljjcQMnauSQox+4f/BHn9kSy/4JUf8ABMb4nfHzWPEXh3XfEfirwtJ4ijuNLliu7WxtLW3nktbWKYsFlllkf51BVWk8uPkpuIGyPx2/4KsfG1/2h/8Ago78ZvFfn/are68U3dlZTYYebaWjfZLZsMAwzBBHwQCOnav6Of8AgiT8DV/Z/wD+CWvwd0c2v2a71PRF8QXe5VEskt+7XmZCFXLKkyINw3KqKpJ21/LJ8K/h7e/Fv4oeG/Cmmq76j4n1S20m1VImlZpp5ViQBF+ZjuccDk9BX9nHhnw5Z+D/AA3p+k6dD9n0/S7aOztYt7P5UUahEXcxLHCgDJJJ70Ay9X8xH/ByF8bW+Mf/AAVd8bWqT/aLHwPY2HhqzbDDaI4BPMuGA+7c3NwPQ4yCQa/pl8X+LNO8BeE9U13V7pLHSdFtJb+9uXBK28ESF5HIAJwqqTwO1fxuftCfFib48/Hzxx45uY/JuPGfiC/12WPAHlvdXEk7DA44LnpQJH7Vf8EsfK/Yb/4Nvvin8UpP+Jbq/jC21vVLK8fy1k891GlWC5Ow7PtEasqliSZWKZLha/HD9jT4JN+0j+1p8NvAQg+0ReLPElhptwmWAFvJOgmYlSGCrFvYkEHCnHNfst/wXNtW/Ye/4IRfCP4KQv5OpapLo2g6pD8x88Wls13dy5DOgzeRQnbvI/efLkLx+JvwE+PHin9mP4u6L478E6hBpPinw7K82nXktjb3q20jRtGXEVwkkRYK7YJQlThlwyggKR/WT/w7S/Zy/wCiAfBP/wAIbTP/AIxX5y/8HKf7FPwC/Z0/YdtPFHhb4Z+DPBvjTVvE9jpmn3Og6cmnbl8qeSUGKHbHs8uNskofm2Z5wa/Pv/iIs/bI/wCiw/8AlqaH/wDIdeF/te/8FCPjH+3lqWj3PxY8b3viw6BE8Wnwm0trK2td5y7LDbRxx72wAXK7iFUE4UAArM96/wCDdT4QN8Wv+Csvw6kZd1l4UivvEF1hmVgIbWRIsEAj/j4lgyGIBGRnJAPgX/BQf9oWT9qz9t34o/EBrp7y28R+IrqWwkdy5FijmK0TPotvHCo7YUYwK/QL/gh38Gr39mP/AIJzftPftQ39u9vcyeD7/wAN+EpGVsTMsbNNIQuGMbXYs03KwwYJu4BH5r/sq/CeH48/tQfDfwNcSeTb+M/FOmaFLJkjy1uruKAnI54DnpQPqf0Af8EqP+CE3wQ8IfsXeBNa+JPw90jxn478Vafb+IdSn1kNcCyaeNZY7RI/lRVjQqGUhtz+ZlmXaB9aan/wTB/Zu1bTbi1l+APwZWK5jaJ2h8GadDIAwIJWRIg6NzwykEHkEEV7hbW0dnbRwwxpFDEoSONFCqigYAAHAAFSUEH82n/Byp+yX8KP2Qv2tfBOi/DDw/a+Ezq/hRdR1TSrMP8AZQftdxFFOobIDOI5FYK2P3KnaCSW+lf+DQH4Usbn42+OJWcKq6ZoVqqyDaxJuJ5iy4zkYt9pzj5n4PGPib/g4S+O8fx3/wCCrXxIa1lSbTvCDW/he2KtuIa0iVbhTh2XIumuRgYwANyht1fsh/wbQfA2T4N/8ErPDuoTq8dz8QNZv/E0kb5yisy2kR+jRWcbjHZx3oK6H3/X89v/AAdnfGpvGX7b/grwTG85tPBPhdbl1Z22Lc3sztJtX7vMUNtlgMnofuiv6Eq/ks/4LB/GX/hff/BTn41+IluEu4P+EnuNKt542RkmgsQtjE6Mnyspjt0KtzkEEkkk0CR0qfsW2i/8ES5fjcdK3eIn+KyaOl75qDy9GGnurHG7J3XpRduNw2ZxtOa9S/4NifGyeFv+Cr3h+we+ntG8S+H9V01IkL7b0rB9q8p9vG0C2MnzcZiX+LbX3F+0B+ykvgr/AINRdJ0WLTUl1TT/AA7pPjMASmNoZLrUob2d33bMslvdTKUYHGNq7iqmvyS/4JeftW6d+xB+3X4E+KWrwvc6Z4Ua+kuoI4zJLcRy2FzbtHGAQPMYS7ULEKGKlvlBoKP1L/4Oqf8AgokuheGNF/Z48K6o6X+pOms+M/IcqY7YAG0snI4IkYmZ16gQwHo5r81v2Nf2OIPG37JXx2+O/i7TLqfwT8MtCbSdLGGWHUNf1Ax2dsNw5YWpuo7hgCMObfdlGZW8+8R6x48/4KUftszXIj/tTx58W/EipDFuPlRS3EoSOPdg7IIk2rk8JHHk8LX6of8ABfb4c6H/AME7v+CSXwR/Z58MfZY/7U1kXepXKIqyau9nblrqdlKk5kurqB924FQiJypwAW2h+b//AASG+CS/tDf8FMfgx4Xlh+1W0niSHUrqHKgTW9kGvZlbcQNpjt3BAOSCcZOBX9Z+p6nbaJptxeXlxDaWlpG00880gjjhjUEs7MeFUAEkngAV/Pp/waY/BVvGX7b/AI18bSJObTwT4Xa2RlRti3N7Mix7m+7zFDc4UnJ6j7pr6w/4Ogv+Ckn/AApH4IW/wG8L3O3xP8RLZbrxBMh5sdH3svlAggh7iRNvOR5UcoI/eKQA9WflN/wWL/4KEXP/AAUX/bU13xVaXc8ngnQ86N4TgeMxBLCNmPnlCAQ87l5W3DeA6IeI1A+xPB3/AASatvgr/wAG63xQ+JHiDR7K5+JXjy20vxTZy3UIWbQdKgvoHjjjY5KvLbPcSvjbuE0SMMxA18A/8E6dG+EGp/tdeFbn46+JE8N/DPRp/wC09U3afc339qmEho7Ly7eKV9sr7Q5KgeWJAGDFa/cn9t//AILlfsh/tDfsafFbwNpnxXsr3V/FnhLVNL02K78Ka0ITeS2siW7MzWRC7ZjGwb+EqCORQM/C/wD4JxfEtvg9+398F/EfnvbQaZ400prt0iErfZmu40nAUg5JiaQevPBBANf1+V/FDpmp3Ojalb3lncT2l3aSrNBPDIY5IJFIKurDlWBAII5BFf2i/D7xhH8QfAOh6/DC9vDrmnwahHE5BaJZY1kCkjjIDY/CgUj+Un/gsZ8VLz4xf8FSPjpq1+u2e08W3mhqMqf3WnMNPiPCqOY7ZD0zzyWOWP3v/wAEn/8Ag4I+AP7BX7FXhr4d658OPiBbeI9KadtTvtBstPuotYkeZ5BcSSyXEEhbD7QrK2xUVQ5AGMP/AIKk/wDBuR8d/Gn7W/xB+IHwttNI8eeH/Heu3XiBLQ6rb2GoWUt3M080TrcNHEVSSRwrLISUC5G7Ir5T8W/8EA/2vvBOmpdXnwY1SaKSURBbDWdM1CUEgnJjguXYL8p+YjGcDOSKA0P170//AIOhP2UvGvhRl1WPx7ZRahHJDc6ZqXhxJmMZ3IUkEcskTKy84DEYbB5yB8Ofsbf8Eaf2P/289WbSvhz+014sv/EUcBuJNEvtDjsNQVB94rHKqiUKMFjEXC5GSK+D/j1/wTf+O37MHgg+JfHvws8X+GvD6SrDJqNzZE20DMQqiR0LKm5iANxGSQBzXo//AAQqt9Tuf+CtPwTXSDdC6GsyvJ9nco/2dbSc3GSCPl8kSbh3XcDwaA9D7L/4O2fiRFpfxQ+Cnwt02RLTSvDHh241hdPhEiqizyrawFsnYwVbKRUwNy5kzw4r50/4ITf8FOPhT/wTI+IXj/XviP4M8ReIdQ8R2NnaaNqeh2drc3mlpG8xuIv380W1Jt8JJV+tuoIOcj9Kv+Dgf/gjB49/4KG+O/B3xC+Fx0S58SaDpEmh6pp+oXxtXvLZZnntzCzAxblea4Dbimd6cnHH5Z6n/wAG8X7Yuk6bcXUvwcnaO2iaV1h8S6NNIQoJIWNLsu7ccKoJJ4AJNAaWP1k8If8AB1l+zJ4luZkvdL+Kvh5Y1DLJqGh2zrMc9F+z3Upz3+YAe9fHX7RGjfsO/wDBWX9tDVvGt5+0J4l+HGv+Mp7Szt9MvfCa2NmXjt44t7Xfl+VlmQkyXEinLhQdoUD4q1P/AIIxftT6TptxdS/A3x60dtE0rrDZCaQhQSQsaMWduOFUEk8AEmvmSgdj+kn9qn4F6B/wRt/4IMfE/wAFeH/EGo6oZNPu9Ngv7sRx3V5c6tcC2OxAwAKRTE/ISwWFnAJGK/C//gl3+z/D+1F/wUL+EPgi8sYNV0vVvEltPqllMpaO7sLYm6u42AIO1reGUH2NfqF/wcWfG/VvC3/BKP8AZq8CarqSXWveNILDU9VnjRwNQ+waZEJiMggIZ7yJ8Md2QuM4bH43/BH45+LP2cPiRZeL/A+t3PhzxNpqypaajahfPthJG0cmwsDtLI7qSOdrMOhNAkf1mf8ADtL9nL/ogHwT/wDCG0z/AOMV8U/8HA37G37PnwE/4JjeM/EWi/Cj4ZeEvFv2vTrHQL3SPD1vptwbiW9hMqq9siEn7Mlw2HJX5Twc4P5A/wDD6z9qv/ouHjb/AL/x/wDxFeb/ALRv7eXxj/a70TTdN+JXxE8S+MNO0mdrm0tb+5zDFKy7TJsUBS23IDEEgMwGNxyBZnon/BF/4Lt8ef8AgqP8FtE8l5oLPxFFrtwBjb5enq16Q+5SNp+zhSCPm3bQQSDXo/8Awca/GpvjH/wVe8eQK872fgy2svDlr5jsdoigWWUKpOFX7RPPgLwfvdWNfen/AAbFf8E/9H+C/wAKdd/aW8T634d1G41vTZbDR1s7lbkeH7JD5l5JcEZEdwxRF2Abo0Rsk+cVX8UPj18Urj45fHPxp41u9/2rxhrt9rc29VDb7m4eZshQFBy5+6APTigfU/oA/wCDU/4Kt4A/4J36v4snSdZ/Hvim6uYGZGVHtbZI7ZNuRhv3yXOWXjt1U1+Kn/BVzwN/wrr/AIKW/HXTA0BQ+NtUvYhCmxI0uLh7hEA7bVlC8cfLxX9NP/BLn4Kr+z1/wTu+DnhPZBHPY+F7O5u1hRVQXVyn2m4xtGD++mk+bq3U8k1+Af8Awck+B/8AhD/+CunxCug0HleIrHSdTSONNvlf8S+CBt3qxeB3J/2/WgS3P2M/4Nu/G8fi/wD4JEfDm1X7U0/h671bTZ3mwQzf2jcTrsOSSojnjXnGCpGMAE+Y/wDBzX/wUQ/4Zn/ZUX4R+H7jZ4u+LttLb3kkcuJNO0dWVbgkf9PHzW4B4KGfuorhv+DXv9o3Rfhl/wAExvi1d+J9RurTSPh14mvNcvbidt0FnYvp9s5WIbs53wTsUAALSDGSxx+Ov7e37YniL/goR+1z4o+I+rx3Sya/diDSNM8wzf2XYodltaJgYJVMbiqgPI8j7QXNAW1PVf8Agih/wTpm/wCCi37Z+laPqdrO/wAP/Cm3WPFdwhCj7OufKtgT/FPKojwOQnmsPuV/VHa20dlbRwwxpFDEoRI0XaqKBgAAcAAV8e/8EQv+CdK/8E7f2K9L0zV7XyviD4y2a34rZirNbXDL+6sgV4228ZCHDMDKZmU7XAH2NQJhRRRQI+Vv+H2P7Mf/AEUz/wAt3Vf/AJFo/wCH2P7Mf/RTP/Ld1X/5Fr1T/hhX4I/9Ec+Ff/hJ2H/xqj/hhX4I/wDRHPhX/wCEnYf/ABqvNtmH80Pul/mff+24I/59Yv8A8GUf/lR5X/w+x/Zj/wCimf8Alu6r/wDItH/D7H9mP/opn/lu6r/8i16p/wAMK/BH/ojnwr/8JOw/+NUf8MK/BH/ojnwr/wDCTsP/AI1RbMP5ofdL/MPbcEf8+sX/AODKP/yo+Yvjf/wW6/Zet9VsfM03V/iQfKbFzZ+GkZbPn7h+3GB8nr8gYepzXE/8PwP2Wf8Aoknir/wltI/+Sq+hfjZ/wRz+APxx8RW2p3PguDw5NbWwtfJ8N7NJtplDMwZ4olCF8sRvxuICgkhRj5h8Y/sV/sC+AfFF9ouq/EBbbU9NlMF1CviV5fJkH3kLIpXcp4IzkEEHBBFeXif7ShLmlKml56fmfoGQf6h4mgqVChjZzitVH3mtf7ll/wCSo2f+H4H7LP8A0STxV/4S2kf/ACVR/wAPwP2Wf+iSeKv/AAltI/8AkquU/wCGWf8Agnr/ANFG/wDK/N/8bo/4ZZ/4J6/9FG/8r83/AMbrn9tjv+flL70e/wD2Vwf/ANAWYf8AgM/8zq/+H4H7LP8A0STxV/4S2kf/ACVXi37Rf/BVz9m/4k+LLW6tP2YrLxVHb24hF3q1zb6LOg3Ftnl28c6soJJBL55PArvv+GWf+Cev/RRv/K/N/wDG68y+NH7CX7Ifi3Xre48D/tKad4NshFtntL6zbWBI+eHR98LIMdQd3sR0rDEVMdKFuem/Tl/XQ9bJcDwdSxSn9Wx0NHrKNdL/AMpPn/Tucd/w8W/Z6/6M88K/+FW//wAiUf8ADxb9nr/ozzwr/wCFW/8A8iV5ZP8AAr9nmGd1X9oDxPKFYgOvw1kCv7jN8Dg+4FJ/wo79nr/ovnir/wANq/8A8n15X1jF94f+Uz9I/sTht/Yxf34//M9U/wCHi37PX/RnnhX/AMKt/wD5ErpvhF/wV8+EXwF8Zp4h8H/sqeHdC1uKJ4I7238UEyxI4w20tZHaSOCRg4JHQmvBf+FHfs9f9F88Vf8AhtX/APk+j/hR37PX/RfPFX/htX/+T6ccTjIvmjKCf/cMzrcO8L1qbpVqWKlGWjT+vtNdmm7M/b/9hL9srSP26v2f7XxvpWnzaPKLuXT9R06ScTmwuYwrNH5gVQ4KPG4baOHGQDkV7NX5l/sQf8FK/wBlz9hj4EweCdB13xrqYa7k1C/v7nQykl9cyBFaTaGwoCxooXJwEGSTkn2D/h/p+z1/0EfFX/glf/4qvssLmlD2Mfb1Y81tdVufypxD4c5x/add5Tl9b6vzPkvCV+W+m+vpfW2+p4Z+3P8A8Fsfh1rXjvxP8NNU+C1l8TvC+g6m1sbrUNdS2iubm3co0sSLby4UOHCyLJlkPQBiK+df+Hi37PX/AEZ54V/8Kt//AJErD/aU8O/sufGj42eIPFfh34q+L/B1j4gu3v5NKbwMb5LaeRi8vluLmLEZYkqm35c4BwBjh/8AhR37PX/RfPFX/htX/wDk+vk8TjMXOo3zQa6fw9vnqf0vkHCvDOEwFKksPiqcrJyS+uR96yu2qfuX78unbQ9U/wCHi37PX/RnnhX/AMKt/wD5Eo/4eLfs9f8ARnnhX/wq3/8AkSvK/wDhR37PX/RfPFX/AIbV/wD5Po/4Ud+z1/0XzxV/4bV//k+sPrGL7w/8pns/2Hw5/Ji/vx/+Z6rD/wAFHf2fLadJF/Y78JlkYMA3ihnUkeoNng/Qiv2H/ZF+OXh39pD9m3wl4y8Kae2kaBq1mUtdPaJYvsHkO1u8AVflCo8TINowQoI4NflV+yt/wRb+Hv7YvhGTXfA37Qv9r2djOsF/at4MNteWbHkLIj3mV3DO18FTg4J2kD9ZP2bvgHon7LvwP8O+AvDv2htJ8OWxgiknYGWdmdpJJXwANzyO7HAAy3AxX0uRQxnM51kuRrS3Lv8A9un8/wDjHiuF3Qp4TKZ1XiYT95VHXfLGzvdV3o2+W3L0vfofld/wd++ObnT/AILfBXw0q3v2TVtb1LU5GVyLYSWsEMaB16F8Xb7SeQBJjqa/JX/gnn+3Tr//AATr/aWsPiV4c0fR9evrS0nsJLLUjIIpIplCvho2BVuBg8j1Br+l/wD4Kj/8EzvDP/BUP4A23g7XdYvfDWqaNff2lo2s2sC3Bsp9jRsJImK+bEyt8yB0JKoQwxz+SPjj/g0Z+NWn6mq+GviV8LtWtPm3S6m1/p0g5+XCR284ORyfm4PHPWvpT8ERt/8AEXp8R/8AokHgn/wZ3X+FeO/t3f8AByR8T/22/wBm7Xfhn/whnhTwhpPidUg1S7s5p7i6lgWRJPKjLMFQMUAYlWypIGM5rrf+ISj9o7/odfgn/wCDjU//AJX12Pw1/wCDQz4l6q8H/CY/FzwLoSszic6Np91qxjUA7Col+zbiTgEErgEkFsYIGh8//wDBt1+zFJ+0N/wU68N6vPE76N8NLSfxReMYiUMqAQ2qbuit58ySAckiB8DgkYH/AAcNfG3/AIXZ/wAFXviP5RzY+Evsvhq1yfmH2aBPOz8zD/j5efGMcYyobdX9B3/BO7/gnH8Pv+CavwWl8I+Borq5uNTnW91nWL4q17q1wI1QMxAAWNQDsiHypvc8s7s35efHH/g1U+Jvxn+NXjDxhcfGDwgbjxXrd7rEpm065aQvcTvMdxHBbLnOO9AX1M7/AIJR/wDBuR8K/wBtL9hbwd8T/iF4i+J2j694ta7nSz0i7s7W3ito7qWCFtk9pI5LrF5gbdgrIpFfQup/8Gkn7Pcum3C2fjr4zQXbRMIJZtS02WOOTB2syCxUsoOCVDKSOMjrX6H/ALLHwNtv2Zf2avAPw8tZIJ4/BXh+y0ZriKERLdvBAkck5UdGkdWc9yXJPJrvqBXP41P2oPg9H+zz+0t8RPAMN8+qQ+BvE2peHkvXiETXa2l1LAJSgJClhHu25OM4ya/avxx4W1f9n3/g0UhtFneK8v8Aw7ZX294FBNtq3iGK4K7TuGDb3m0N1wQw2np5H4m/4NLfin4w8Sahq2o/GXwTcahqlzJeXUv9k3CebLIxd2wuFGWJOAAOeK/Yb4mfsZ+Bfi5+yBN8D9b055/AcuhW/h9IIykUtvDbpGtvJGVUIkkTRROhCbQ0a/LgYoHc/kF8DeNtV+GvjXR/EehXs+ma3oF7DqWnXkJxJaXMMiyRSL/tK6qw9xX6OeDf+Drf9pjwxoMVne6P8J/EVxH96+1HRLpJ5f8AeFvdxR/kg616r8Xv+DQzxzYX9+3gL4u+E9Wt9waxi1/T7jT32l+Ukkh88ZVf4lT5iPuoDxwH/EJR+0d/0OvwT/8ABxqf/wAr6B6Hj/7Y3/Bw3+0R+2f8KdV8E6tc+EPCfhnXrYWeqWnhvS3hOoQ5YtG0txLNIqvlQwjZchAOjOG84/4I1/stz/tc/wDBSH4YeGfs7zaTp2qJr+ssC4SOysiLhwzL8yiRkSEEY+aZeRnI+yvh9/waJ/F3Ublf+Er+KXw40aHz0Vm0mG91NhET874kitwWAzhc4Pdlr9V/+CY//BJv4df8EvfAeo2fhaS91/xP4g8v+2fEWoqi3N2EHywxovywwBizBAWJLfM77V2grroflZ/wdz/GpfE/7U/wu8AxPBKnhDw3cavKY3Vmimv7jYY3wcqwjsYnwf4ZVI615X/wRZ/4Ic6N/wAFQvg54w8Y+I/GOveFLHQdZTRrIafYxSrcyCBZptzO3VRLDwAMbupzx9uf8FM/+Ddr4j/8FAf20vF/xSi+J/hfR9P137LDYabdWl1O1hBBaxQBM52jc0bSELxukY96+3f+CUP7Bcn/AATi/Y40n4b3mr2uvavHqF5qWpX9rEYoLiWaU7NikBgBCsKncSdytzjAAF9D4V/4hCvhz/0V/wAbf+Cy1/xrr/gx/wAGnPwK8D+K4tR8X+LvHvji0t5UkXSzNDptpcAbtyTNEvnMpyuPKliI2nk54/U2igV2fnf/AMHFdrYfBH/gjF4g8JeGNJ0vSPD019ouiQ2VtB5UNjaxXcU6LCq4VcNboOhG0txkgj+cL4e+PtX+Ffj7Q/E/h+9fTde8N6hBqmm3aKrNa3MEiyxSAMCpKuqkAgjjkV/Xp+29+x74Z/bw/Zl8S/DHxYZ4NN1+JDFeW6qbjTrmJ1khnjyPvK6jI/iUup4Y1+MPxA/4NEvizpvmf8Ir8Vfh3rOLkrH/AGrb3mmboPmw58tLjD/d+QZAyfnOOQaON0T/AIOx/wBpPStKgt5/DHwd1KaJdr3Vzo1+ss59WEd6iZ/3VA9qx/il/wAHT/7TnxE8H3Gl6dbfDXwZcT8f2nomi3DXkYIIIX7VczxjrnPl5BAwR36P/iEo/aO/6HX4J/8Ag41P/wCV9afhH/g0d+Od7qTrrvxF+E+m2giJSWwn1C9kaTIwpR7WEBcbjncTkAY5JAGh+YnhDwvrnxr+KGl6LYC61jxL4t1SKytw7NLPe3dzKEXJ5ZmeRxzySTX9i37Pvwcsf2ePgR4M8BaW/m6f4M0Sz0S3lMewzLbwpEJCMnDNt3Hk8k8nrXw3/wAEr/8Ag3k8D/8ABPb4kWHxE8ReJbr4g/EPT4HWwl+yCz0zR3kj2SPFFud5JArOgkdgNrkiNWwR+ilAmzj/ANoT4sQ/AX4B+N/HNzH51v4M8P3+uyx4J8xbW3knK4HPIQ9K/j2+FfgbU/2hPjn4b8NLc3VxrPjjXbXTBcODcTS3F3cLHvOWBdi8meWGSevOa/rM/wCCjP7MmvftlfsWeOvhj4a16y8M6v4vtoLNNRvLczwwxC6hkmVkAJ+eFJEBHILgjBGa/OX/AIJ/f8GyPij9k39sfwF8SPE3xH8Na/pHg3UG1J7CxsJY555Uik8jDSAqAsxjY8Z2qcEHBACP0W/b6+EVr4y/4J1fF3wZp1hbeTJ4C1Sy0y1c7YoZI7GT7Nz2COsZB7bRX8hlf2u6npltrem3FneW8N3aXcbQzwTRiSOaNgQyMp4ZSCQQeCDX4V+Gf+DQrxr/AMJJp/8AbHxf8Lf2R9pj+3fYtMn+0+RuHmeVuO3ftzt3cZxnigEdz/watf8ABOaTRNK1X9ozxRZvFPqCzaH4QgnhIPkfKLm/Qns53QIRzhJ+zCvn/wD4OufjvH8Qv2+/Dvgq1lSS3+HvhiFLlQ2WivLx2uHBAcgD7P8AZCAVVuSTlShr+gP4V/DLRfgv8NNA8I+HLJNP0Hwzp8GmafbJ0hghQIgz3OFGT3OSetfkn+3z/wAG2fxN/bb/AGxPH3xSl+KnhCwTxbqRntbWawuZJLW1jjSC3jZhwWWGKNTjjI4oC+pV/wCDc7xR4a/YZ/4JSfGT4+eNClhpU2uuXlVUMt7b2cEUVtErDLbpLu6miRHxhmBHD5P49ftO/tE+MP24f2l/EPjzxGZ9R8TeNNSMkVpbB5RAGYJBZ268tsjXZEi8nCjOSST+5v7Q/wDwQZ+JvxS/4J+fBn9n3w98T/C+i+GPhz9q1DWDNY3LnWdSmuJ5hKCG4iT7RNtQjguck4XGH/wTM/4Nn5f2Pf2sdC+JXxC8aeHfGtv4TzeaRpdppsiqNQH+puJGkOP3JzIgAz5ixtkbOQd0flP/AMOU/wBqv/oh/jb/AL8R/wDxdH/DlP8Aar/6If42/wC/Ef8A8XX9YNFArn8UuuaJdeGtbvNOv4Htb6wne2uIX+9DIjFWU+4II/Cv3Q/bV+PFzr//AAapfD2405rLy9X0Tw74XunglL7I7K4jhcKytw5exCupyBmRSM9OW/aX/wCDVbxr8af2jviB4x0f4l+CdE0jxZ4k1HWbHTv7LnH9nwXN1JNHBhcL8iuF+UY444r7F+Ff/BGJL3/gkdF+y78SfFUOpDT7m6utL1zRYHh/s+V7uW7hkMbn97tlmk3K3DKxAKkBgDufzyfsIftWyfsQfta+CvipF4d07xY/hC7kuDpV7IY47pZIZIWw+1vLkUSF432tskRG2tjB/Vf/AIjE/wDq3X/y/f8A73V5t8Qf+DRP4u6dct/winxS+HGsw+e6q2rQ3umMYgfkfEcVwAxGMrnA7M1c5/xCUftHf9Dr8E//AAcan/8AK+gNDkv+CqP/AAcL65/wUl/Z2h+Gth8NrX4f6NcahFf6rM2vNqs9+ISGhiXEECxqH+ZshyxVMbdp3a//AAbH/B6YftNfEX4z3Wlfb9K+Dvg29u7ckhN+o3CFY41cxsF3W0d4CVIYbl6qWB9A+G//AAaIfFTVJI/+Eu+K/wAP9DUzlXOj2l5qpWLAw4Eq22WzkbcgYAO7nA/YP9h7/gn18PP2B/2cF+GnhCxe+0m5aWbVrrVFjmudcmlG2R7jCqjDZiMLt2hFAweSQNOh/Itrmt3XiXW7zUb+d7q+v53ubiZ/vTSOxZmPuSSfxr9iPhV/wdwSfDj4X+G/D03wAS/m0HS7XTpLpPG5gW5aGJYzIIzYMUDbc7dzYzjJxmr37RP/AAaJ6y3ifU7v4U/FXRzpMzvJYaZ4ospYpbUE/LE91AJBIAM/OIVPQbT1ryX/AIhKP2jv+h1+Cf8A4ONT/wDlfQGh6Z8Uv+DvXXPFPw51rTfDXwQtfDmvX9pJBY6pceMGvo9PkYYEphWziLlckgeYvIHPGD+ZH7Bn7OE/7XX7Zfw2+HEUDzw+Kddt7e9CI7GOyVvNu5MIVbCW6SucMvCn5l6j778L/wDBo/8AHi71UJrXxC+Emn2O0kzWV1qF5KG7Dy3tIhj338ehr9Kv+CS//BDfwR/wTDur7xLPrD+PPiPqcBtG1uayFpBptuxBaG1h3uVLEAPIzlmCgAICykDRbH5b/wDB1h8aV8f/APBRHR/CcDwNB4C8L2ttOqurOl1cvJcvuxyv7l7bCtz/ABdGFbv/AARF/wCCDXw6/wCCjf7KmsfEX4ja/wDEDRZV8RT6RpdvoNzaW0U1vDBAzTMZreYsTLK6YG3Hknrnj6B/bx/4Nq/iX+2j+2F4/wDig/xV8J2Mfi7VGura1ubO6mltbZVWKCNmz1WKONcDgbcDgCv0W/4Jp/sYx/sAfsX+D/hb9ttdVvtCW4m1DUIIfLW/uZ7iSZ36AkDzAi7skJGgJOKAvofGP/EJR+zl/wBDr8bP/Bxpn/yvr8VP+ClP7JOm/sK/tteOfhVpOvT+JtP8KS2iRajNEsUk3n2UFyysqkgMjTGM4PJTOBnA/rxr8YP2yv8Ag2L+JX7Vn7V3xE+I7fFrwhbR+M/EF5qltbzaZP5lrbSSsYIWKYUtHFsQsOpXJyTmgSZl/sFeKb/9j/8A4Nc/ix40e+ntpvHVzq40h2l+eE3jwaKDBscMjLJFK4PBVgz4Kjn8mP2NPgk37SP7Wnw28BCD7RF4s8SWGm3CZYAW8k6CZiVIYKsW9iQQcKcc1/Q9+1V/wR28Q/GT/gk58Mv2bfCXjDRPDtx4Pl06XWNRubN5bbVDDBObjYoG9PMu5VmB4OFIJOTnw/8A4Jjf8G22v/sQ/toeFPil4r8eeGvFVj4TW6mttPs7CRGe5kt5IY3YyAjCeYXGMEOiEHjkHc/Wyv59P+Dt/wADf2X+3F8PPEKmAJrPglLJo1TDmS3vrpi7HvlbhFHf939K/oLr4H/4Lc/8EfNf/wCCqlz8NJvD3ivQfCc3gddTS6k1C0kma8W6+yGMKU5AQ28nX/npx3oEj+d3wN+1r42+HH7NHjX4T6PqX2Pwj4/1Kw1LWI03Cac2izBYQwbb5TtLG8ilSS1tDgqAwf7c/wCDbD/gm+37Wf7Vv/CzfEti8ngP4Uzx3kRbHl6jrIKPbQEH7yRjMz46FYQeJK9V/wCIQv4j/wDRX/BP/gsuv8a/Xv8A4J4/sS6D/wAE9/2T/DPwz0KX7c+mRm41XUTGEbVdQlw1xcEdlLfKikkrGkalm25INs9uooooJCiiigDwv9t/9gPwh+3x4d0HTPF+reLNMtfD1zLdW66LfRwLK8ihSZEkjkR8AfK23cu5wCAzA/Ov/EOT8Ef+hp+Kn/gysP8A5Cr7+r5k/bX+F/7UPjj4i6Zc/A74j+CvB3hqLTRHe2esWiSTzXfmyEyBms7j5DGYwBlcFW4Oa8zG4PDO9apS535b/mj9B4T4qz6ko5Xg8xWGpK7Tm2oLq9oyd2/Lc8c/4hyfgj/0NPxU/wDBlYf/ACFR/wAQ5PwR/wChp+Kn/gysP/kKj/hnr/goV/0XX4V/+C+H/wCVNH/DPX/BQr/ouvwr/wDBfD/8qa836vhP+gSX3L/5I+9/tniX/opKH/gyp/8AKQ/4hyfgj/0NPxU/8GVh/wDIVeH+LP8Ag2y8R/8ACS3/APYfxK0X+xzO5shfWMv2lYc/IJCnylwOCVABIzgdB7h/wz1/wUK/6Lr8K/8AwXw//Kms7xZ+zp/wUKuPCupR/wDC7Ph3eeZayr9nsIIba6nyh+SKX+zI/LkPRX8xNpIO5cZGVTCYSS/3Wfysv/bj0Mu4m4mw87riHDSvp70pS+69HT70eI/8Q2Xjf/opXhX/AMALij/iGy8b/wDRSvCv/gBcV4Pq37EP7YUGq3KXPh34ozXCSussi6u86yOCckSLMVcE5+YEg9QTmoP+GJv2vP8AoWfip/4MZP8A47XkcmG/6BZ/fL/I/Tli89av/rJhv/AKX/yZ7/8A8Q2Xjf8A6KV4V/8AAC4pk/8AwbZ+O1gcx/Efwk8gU7FeyuFVj2yRnA98GvA/+GJv2vP+hZ+Kn/gxk/8AjtH/AAxN+15/0LPxU/8ABjJ/8do5MN/0Cz+9/wCRX1rPv+ijw3/gFL/5M6yf/ggR+0JDO6rY+EpVViA66yuHHqMqDg+4FcrP/wAEevijazvFLrvwujkjYq6N4vtQykHBBGeDUF/+xL+1u1jN5/hX4qSw+W3mR/bZZN645G0SEtkdsc14RP8AAPx1azvFL4L8WxyRsVdG0i4DKQcEEbODXFVhQhb9zNer/wDtT6nLMXm2J5v+FbDTtb4Kd/v/AHx75/w6C+J3/QwfCv8A8LC0/wAaP+HQXxO/6GD4V/8AhYWn+NeA/wDCi/G//QneKv8AwU3H/wARR/wovxv/ANCd4q/8FNx/8RWN6H/PqX/gX/2p63Lm3/Qxpf8Agr/7se/f8Ogvid/0MHwr/wDCwtP8aP8Ah0F8Tv8AoYPhX/4WFp/jXgP/AAovxv8A9Cd4q/8ABTcf/EUf8KL8b/8AQneKv/BTcf8AxFF6H/PqX/gX/wBqHLm3/Qxpf+Cv/ux79/w6C+J3/QwfCv8A8LC0/wAaP+HQXxO/6GD4V/8AhYWn+NeA/wDCi/G//QneKv8AwU3H/wARR/wovxv/ANCd4q/8FNx/8RReh/z6l/4F/wDahy5t/wBDGl/4K/8Aux79/wAOgvid/wBDB8K//CwtP8a6LS/+CEfx613Toruxt/Bt5aTrving1+KSOQeqsAQR9K+X/wDhRfjf/oTvFX/gpuP/AIiv1W/4N4Ph98S/Avgbx+fEum61pHgq9ntX0eDU4JYfOux5ouJLdHIwmPLV224ZlQBsxuK7suwuHxNdUZU5K/W//APkOOeIs8yHKKmZ0MdRqODj7rp25rtLS1V6q99tkz1X/gjj/wAE7/FH7CXgbxhd+Mr7T313xnPahrCybzo7GG188ITLwGd/PYkAYUKvJJIX7Poor7/C4aGHpKjT2R/FfEOfYvOsxq5pjmnUqWvZWWiUUkuySS7922FFFFbnihRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABWV428c6L8NfCt9rviPWNL0DQ9MjM15qOpXcdraWkfTfJLIQiLyOWIHNatfjx/wd6fGXWvDXwW+DngS0uHh0Txbqmp6rqKI23z3sY7VIUbuVzeyNjONyIcEqCAD741D/gr7+y/pnitdHk+O3w1a7aWOISRa1FLaZcKQTcITCF+YZbfhedxGDj3fwD8QtA+K3hGy8QeF9c0fxJoOpKXtNS0q9jvLO6UMVJjljLI4DKw4J5BHav5YviHpv7D2sfDRrXwZqn7UeieOLj7NHDf+I7PQ7vQ7RjLH57yxWzLcMgj83bsO7O04blT/AECf8ER/2fNM/Zu/4Js/D7SNI8XQeONP1iKfX4NWt0eO2lju5mmjSOJwHi2oyB0f5llEucdADPqrU9TttE024vLy4htLS0jaaeeaQRxwxqCWdmPCqACSTwAK80+HX7cXwV+MHjKz8OeEvjB8LvFPiDUN/wBk0zSPFdhe3l1sRpH2QxSs7bUR2OBwqsTwDXwP/wAHMn/BQ2T4N/Aey+Avgq7upvHvxXXytThsGLXFppJbY0JVTv3XbnylUA741nBxuXd+ff7J37Nmsf8ABKP/AILqfAfwl4j1aym1i5l0yO8aKNpo7afV7J7SS2BAO7Etw8ayAYwVY4ANAWP6TqKK8c/b1/bQ8O/8E/8A9l3xH8T/ABLbXWo2uiLHFa6fbMFm1K6lcRwwKx4UFiCzYO1FZsMRtII9c1PU7bRNNuLy8uIbS0tI2mnnmkEccMaglnZjwqgAkk8ACuc+Enxx8FfH7w3NrHgTxh4W8a6RbXLWU19oOqwalbRTqqO0TSQsyhwsiMVJzh1OMEV+If7Sf/Bwr8ffi9+xt4lOs/AC68JeAPiNo174ftfGUFtqAst9zBNCPIuZEELtkOPlfI2Pjla1P2IP+CmGrf8ABNP9jD4HfBT4YfDS6+Kfxk+KcE/jC8sVleO3tY724l+yIqpH5kkjWkEbvuIWNRu3shG0HY/dKqmua5ZeGNFvNS1K8tdO07ToHubq6uZVigtokUs8juxCqqqCSxOAASa/Nj9hL/guZ8RfjV/wUStf2dfjB8G4Ph34p1K2mMQtb15JbCeOxbUFWdH/AIJLZSQykkMycYYleP8A+DtH9oy/+Hv7JPgH4cWFzPap8R9bmu9REf3bu005Yn8l+237RcWsmOuYF9DQFj7W8X/8Fdv2YfA9zDFe/Hf4YzNOpdTp+uw6goAOPma3LhT7MQa9f+D/AMefBH7Qvhj+2vAfi/w14y0lWEb3ei6lDfRRvjOxmjZgrY6qcEdxX5I+GP8Ag0e8N3PwAt5tR+JPiWL4mTaelw9v5dvHpEF0YCWtm2pJJsExVfOVm+VWIjJIx9W/8EJf+CYXj7/gmF8JvHmhePtX8Iavd+KNXgv7V/D91cXEccaQ7CHM0EJDZ6YBGO9AaH1h8SP2qvhf8HPG1j4a8X/EjwF4V8RapHHNZaVrHiC0sb27SSRo43jhlkV3VpEdFKggsrAcg12+p6nbaJptxeXlxDaWlpG00880gjjhjUEs7MeFUAEkngAV+IX/AAd0aTdeDPjF+z/4xsL94L57TVYLcImGtZLSezmWUNnkk3I4xx5fU549w/4OOf8AgpQng39k7w38Jvh/e3snjD452MF1NBao4u49CnyNu1ed1048jYM7kW4Uj1Asfo78Hf2l/hx+0T/aP/Cv/iB4J8df2P5X2/8A4R7XLXU/sPm7/L83yHbZv8uTbuxnY2Ohrt6+WP8Agjx+wBB/wTv/AGKPD3hO9s7WLxrqyjV/FdxGUdpL6QZMPmLkMsCbYlIJU7GYffNfU9AgooooAKKKKACvHv23v2wNN/Yg+B0njjVdC1rxBarfQ2H2fTkH7tpd2JJXPEcfykbj1do16uK9hoqKqlKDUHZ99zsy+th6WJhUxVP2lNNOUebl5l1XMk7X72PzX/4iTfBH/RNfFX/gfb/4Uf8AESb4I/6Jr4q/8D7f/Cv0oorzfquO/wCf/wD5Iv8AM+9/1k4P/wChNL/wqn/8gfmv/wARJvgj/omvir/wPt/8KP8AiJN8Ef8ARNfFX/gfb/4V+lFFH1XHf8//APyRf5h/rJwf/wBCaX/hVP8A+QPyC+L3/ByF43u/FZ/4QLwL4V0/RFjUAeIFuLy6kfA3HMM0SKM5AGG6A55wOV/4iNvjd/0K3wr/APBbf/8AybX61eOv2Vvhh8UfEk2s+Jvhx4D8RavcKqy32p+H7S7uZQoCqGkkjLEAAAZPAArH/wCGFfgj/wBEc+Ff/hJ2H/xquGeXZk5NrEfhY+twnHfAVOjGnLJNUtff5v8AyZ2b9Wl6I/K3/iI2+N3/AEK3wr/8Ft//APJtH/ERt8bv+hW+Ff8A4Lb/AP8Ak2v1S/4YV+CP/RHPhX/4Sdh/8ao/4YV+CP8A0Rz4V/8AhJ2H/wAaqf7MzL/oIOn/AF/4A/6En4r/ADPyt/4iNvjd/wBCt8K//Bbf/wDybXj/AMSf+Cxv7RHxH8TT6h/wsC70GF5GaGw0e2itLa1VjkIvyl2A6AyO7Y6sa/bL/hhX4I/9Ec+Ff/hJ2H/xquA8af8ABH/9m7x74hm1O++FulQXNxjcmnX15ptuMf3YLeaOJf8AgKisa2U5nKNvb3+bX5Hp5V4meH+Gqubyfl035YTf3SaS9Ufjd/w9N/aF/wCiseKv+/qf/E0f8PTf2hf+iseKv+/qf/E1+vn/AA5O/Zj/AOiZ/wDlxar/APJVH/Dk79mP/omf/lxar/8AJVcv9h5n/wA/v/Jpf5H0P/EYfD//AKFkv/BND/5M/IP/AIem/tC/9FY8Vf8Af1P/AImv2N/4JN/tWeJ/2wf2P7DxP4xjVtfstQn0q4vI7dIE1PyghFwEU7QSH2tgKN6PhQMVnf8ADk79mP8A6Jn/AOXFqv8A8lV9HfDr4caD8I/BVh4c8MaRp+haFpcZjtbGyhEUMILFmwo7szMzE8szMSSSTXqZVluNw9VzxFS6ttdv8z878SePeFc6y6GGybAulVUk+dwpwsrO6XJJt300eml9zbooor6E/EAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACvwx/4L7/tSfFn4Nf8ABRnTrjXfA3/Cc/A3wjbafqNnoviLw/Fe+G9TmaJlldpHgZVfzZmiJ3b+AM4IFfudRQB/Kx8ZPinJ/wAFKYtL8MfCH9lHwh4M1++8QRySah4Msrl3nkkWRFtWJxb28BMu85CqoiQ5RVNfpx8LP+CiXxm/Yo/ak079nfT/AIdaLe/BP4K+FobPUvEFv4X1I6hqP9naGk12YJVmWB5bi+SSONvJ+YzIWBJY1+t9FA7n84Pwk/4J9ftZf8FkP2lvH3x9sL21+GGv2euxTWV94gu9Q0eWzcKTBb6e8Fs8mLWFIF3nYfmjOWYuRy37Y/7Dn7TH7C37Y/ws8ZfFTxFr3xg8Q2V3Z61b6zod7qfiO6soLK8WRYjNdQoysGDMiZ28k5GTX9M9FAXPz5+Cn/BT741/Gn/gsb4h+Ctv4C0HTfgx4du9RtZdeu9G1KPUbj7JbMhMVyzrbsWvQMfutpiyFZiA7eb/APB2Do/jDxD+xH4Kt9B0rVNR8PWvik6jrstnavMtmsVnOInmKg7Iv3kpJb5chcnIFfqdRQI/m+/bG/4KVfFH/gpT+xF8Lvgt4H+Aet+FfCOl3NjZx6lYyzX1trL2UAtIYImFtDBBEjvudSz7SsQ3IFO7hf8AgpF8LfDHwJ/4KX+KdG+NvhT4jnwDo+jad4e8MyeFpYtHe7g0/TrG0t5oWvIbmKSExRHeiHiSXO4bSh/p7ooHc/FP/g2q/Yct0/aL8VfGi28B/ETwb4W0mxn0nw7N4m1WGdtSa4dGJCJaW7N5cAAMgHls0vy8qQOW/wCDpPw58QpP25vhR4h0jwdqmveF/DfhaK9trlNJmurJ7yPULiS4imdBgqI0tSykjCyZyN1furRQF9T+db4v/wDBxj+1D+2p8I77wF4L8GadoGq6lBDHe6x4HtdV/tm3cTo4a1eOdjbh9nlkESEq7AMCRj6X+G/7cn7Wv7DGrfs7/AuXw3P8RPFPje2sdQ8Z6/4xXVdautKutT1SaOOyNyJ1SH7NaC3L7i6qzseAOf2SooA/LL/g64+CutfE39jz4capoVhqmsXej+Mvsr2NhYSXUjRz2VyxlOzJVVNuq/dwTKORjn5p/wCCFn7G3j/9q/8AbHn/AGhfj1p2tyaL8I9NtbXSH12ydPtF9aW0cdsY4nGdtrCnnZVf9c0TD5ia/eOigLnwH/wRq/4KUfHH/goN8R/iYvxI+HuieCPCnhWK1bSGi0i+sL24e4ln2LIbiZ1k2xwncY1XDEdmAr78oooEFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB//9k=';

        pdf.addImage(Logo, 'jpg', 5, 5, width - 20, 18)
        pdf.addImage(Base64, 'jpg', 5, 75, 60, 35);
        pdf.addImage(Base64Inner, 'jpg', 68, 75, 70, 35);
        pdf.addImage(Base64Master, 'jpg', 140, 75, 70, 35);
        
        pdf.save('Codigo Barras ' + Sku);

    }

    $("#btnPagos").click(function () {

    });


    var formatNumber = {
        separador: ",", // separador para los miles
        sepDecimal: '.', // separador para los decimales
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        new: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    }

</script>