
@{
    ViewBag.Title = "Index";
}


<section class="content-header">
    <h1>
        Facturar nómina
        <small>Panel de control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Facturar nómina</a></li>
        <li class="active">Nómina</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Historial de nómina del cliente</h3>
                    <div class="box-tools pull-right">
                        <button id="BoletinDownload" type="button" class="btn btn-box-tool"><i class="fa fa-file-excel-o"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="Nomina" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Nombre</td>
                                    <td>Empresa</td>
                                    <td>Fecha captura(MM/dd/YYYY)</td>
                                    <td>Total</td>
                                    <td style="width: 140px !important;"><input type="checkbox" id="cbxTodos" />Seleccionar todos</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="DetalleNomina"></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Validación <small id="DatosCliente"></small></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <input type="hidden" id="Sequence" />
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                @*<div class="input-group">
                            <span class="input-group-addon">Empresa:</span>
                            <input id="tbxEmpresa" type="text" readonly="readonly" />
                            <input type="hidden" id="IdEmpresa" />
                        </div>*@
                                <label>Empresa</label>
                                <input class="form-control" id="tbxEmpresa" type="text" readonly="readonly">
                                <input type="hidden" id="IdEmpresa" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="hidden" id="Sequence" />
                        <input type="hidden" id="Tienda" />
                        <input type="hidden" id="Periodo" />

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>IMSS</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="Imss" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>RCV</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="RCU" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>INFONAVIT</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="Infonavit" value="0" type="text">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>SUELDO</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="Sueldo" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>BONO DE PUNTUALIDAD</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="BonoPuntualidad" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>BONO DE ASISTENCIA</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="BonoAsistencia" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>PRIMA VACACIONAL</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="PrimaVacacional" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>PRIMA DOMINICAL</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="PrimaDominical" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>VACACIONES</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="Vacaciones" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>RETROACTIVO</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="Retroactivo" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>VALES DE DESPENSA</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="ValesDespensa" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>AGUINALDO</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="Aguinaldo" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>3% SOBRE NOMINA</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="SobreNomina" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>RETENCION POR SALARIO</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="RetencionSalario" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>RETENCION AGUINALDO</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="RetencionAguinaldo" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>FONDO DE AHORRO</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="FondoAhorro" value="0" type="text">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>FINIQUITO</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="Finiquito" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>PTU</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="PTU" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Extras</label>
                                <input class="form-control total" onKeyPress="return SoloNumeros(event);" id="Extras" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>TOTAL</label>
                                <input class="form-control input-lg" disabled id="Total" onKeyPress="return SoloNumeros(event);" value="0" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br />
                            <button id="btnFacturar" type="button" class="btn btn-success btn-lg btn-block"><i class="fa fa-send"></i> Enviar a SAP</button>
                        </div>

                    </div>
                </div>
                <div class="box-footer clearfix no-border">

                </div>
                <div id="ButtonsWait" style="display:none;" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
  
</section>

<script>
    $("#cbxTodos").on("click", function () {
        $(".procesar").prop("checked", this.checked);

    });

    InitModule();

    function InitModule() {
        ObtieneDocumentosDisponibles();
        LimpiarDatos();
    }
    function SoloNumeros(evt) {
        if (window.event) {//asignamos el valor de la tecla a keynum
            keynum = evt.keyCode; //IE
        }
        else {
            keynum = evt.which; //FF
        }
        
        //comprobamos si se encuentra en el rango numérico y que teclas no recibirá.
        if ((keynum > 45 && keynum < 58) || keynum == 8 || keynum == 13 || keynum == 6 || keynum == 190) {
            return true;
        }
        else {
            return false;
        }
    }
    $(".total").blur(function () {
        var total = 0;
        total = parseFloat($("#Imss").val()) + parseFloat($("#RCU").val()) + parseFloat($("#Infonavit").val()) + parseFloat($("#Sueldo").val()) + parseFloat($("#BonoPuntualidad").val()) + parseFloat($("#BonoAsistencia").val()) + parseFloat($("#PrimaVacacional").val()) + parseFloat($("#PrimaDominical").val()) + parseFloat($("#Vacaciones").val()) + parseFloat($("#Retroactivo").val()) + parseFloat($("#ValesDespensa").val()) + parseFloat($("#Aguinaldo").val()) + parseFloat($("#SobreNomina").val()) + parseFloat($("#RetencionSalario").val()) + parseFloat($("#RetencionAguinaldo").val()) + parseFloat($("#FondoAhorro").val()) + parseFloat($("#Finiquito").val()) + parseFloat($("#PTU").val()) + parseFloat($("#Extras").val());

        $("#Total").val(total);
    });
    function DetalleNominaEnProceso(Sequence) {
        $.post('@Url.Action("NominaEnProcesoBySequence", "Nomina")', {
            Sequence: Sequence
        }, function (data) {
            if (data != null) {
                $("#DatosCliente").html("Cliente: " + data.Context.Cliente.Nombre + " - Periodo: " + data.Context.Periodo);

				$("#IdEmpresa").val(data.Context.Empresa.Identifier);
				$("#tbxEmpresa").val(data.Context.Empresa.Nombre);
				$("#IdEmpresa").val(data.Context.Empresa.Identifier);
				$("#tbxEmpresa").val(data.Context.Empresa.Nombre);
                $("#Sequence").val(data.Context.Sequence);
                $("#Periodo").val(data.Context.Periodo);
                $("#Tienda").val(data.Context.Cliente.Sequence);
                $("#Imss").val(data.Context.IMSS)
                $("#RCU").val(data.Context.RCU)
                $("#Infonavit").val(data.Context.Infonavit)
                $("#Sueldo").val(data.Context.Sueldo)
                $("#BonoPuntualidad").val(data.Context.BonoPuntualidad)
                $("#BonoAsistencia").val(data.Context.BonoAsistencia)
                $("#PrimaVacacional").val(data.Context.PrimaVacacional)
                $("#PrimaDominical").val(data.Context.PrimaDominical)
                $("#Vacaciones").val(data.Context.Vacaciones)
                $("#Retroactivo").val(data.Context.Retroactivo)
                $("#ValesDespensa").val(data.Context.ValesDespensa)
                $("#Aguinaldo").val(data.Context.Aguinaldo)
                $("#SobreNomina").val(data.Context.SobreNomina)
                $("#RetencionSalario").val(data.Context.RetencionSalario)
                $("#RetencionAguinaldo").val(data.Context.RetencionAguinaldo)
                $("#FondoAhorro").val(data.Context.FondoAhorro)
                $("#Finiquito").val(data.Context.Finiquito)
                $("#PTU").val(data.Context.PTU)
                $("#Extras").val(data.Context.Extras)
                $("#Total").val(data.Context.Total)

            } else {
                $.alert("No se encontraron registros");
            }
        });
    };

    function ObtieneDocumentosDisponibles() {
        $.post('@Url.Action("NominaEnProceso", "Nomina")', function (data) {
            $("#ButtonsWait").show();
            console.log(data)
            if (data != null && $.isArray(data.Context)) {
                var table = $('#Nomina').DataTable();
                table.destroy();
                $("#DetalleNomina").html('');
                $.each(data.Context, function (index, value) {
                    $("#DetalleNomina").append("<tr>\
                                                    <td>" + value.Cliente.Nombre + "</td>\
                                                    <td>" + value.Empresa.Nombre + "</td>\
                                                    <td>" + moment(value.Registra).format('L') + "</td>\
                                                    <td>" + formatNumber.new(value.Total.toFixed(2), "$") + "</td>\
                                                    <td><input value='"+ value.Sequence + "' type='checkbox' class='procesar' style='max-width:50px;'/></td>\
                                                    <td><div onclick='DetalleNominaEnProceso(" + value.Sequence + ")' class='btn btn-default'><i class='fa fa-pencil'></i> Editar</div></td>\
                                                </tr>");
                });
                $('#Nomina').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ],
                    "paging": true,
                    "pageLength": 100,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                    }
                });
                $("#ButtonsWait").hide();

            } else {
                $("#ButtonsWait").hide();
                $.alert("No se encontraron registros");
            }
        });
    };
    var formatNumber = {
        separador: ",",
        sepDecimal: '.',
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        new: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    };

    $("#btnFacturar").click(function () {
        var list = "";
        $('.procesar:checked').each(function () {
            list = list + $(this).val() + ",";
        });

        $.post('@Url.Action("RegistrarNominaFacturaAll", "Nomina")', {
            list: list
        }, function (data) {
            console.log(data);
            if (data.Context == true) {
                $.alert("Los datos se registraron correctamente");
                LimpiarDatos();
                ObtieneDocumentosDisponibles();
            }

        });
    });
    /*$("#btnFacturar").click(function () {
        $.post('Url.Action("RegistrarNominaFactura", "Nomina")', {
            Sequence: $("#Sequence").val(),
            Cliente: $("#Tienda").val(),
            Periodo: $("#Periodo").val(),
            Imss: $("#Imss").val(),
            RCU: $("#RCU").val(),
            Infonavit: $("#Infonavit").val(),
            Sueldo: $("#Sueldo").val(),
            BonoPuntualidad: $("#BonoPuntualidad").val(),
            BonoAsistencia: $("#BonoAsistencia").val(),
            PrimaVacacional: $("#PrimaVacacional").val(),
            PrimaDominical: $("#PrimaDominical").val(),
            Vacaciones: $("#Vacaciones").val(),
            Retroactivo: $("#Retroactivo").val(),
            ValesDespensa: $("#ValesDespensa").val(),
            Aguinaldo: $("#Aguinaldo").val(),
            SobreNomina: $("#SobreNomina").val(),
            RetencionSalario: $("#RetencionSalario").val(),
            RetencionAguinaldo: $("#RetencionAguinaldo").val(),
            FondoAhorro: $("#FondoAhorro").val(),
            Finiquito: $("#Finiquito").val(),
            PTU: $("#PTU").val(),
            Extras: $("#Extras").val(),
			Total: $("#Total").val(),
			Empresa: $("#IdEmpresa").val()
        }, function (data) {
            console.log(data);
            if (data.Context == true) {
                $.alert("Los datos se registraron correctamente");
				LimpiarDatos();
				ObtieneDocumentosDisponibles();
            }

        });
    });*/

	function LimpiarDatos() {
		$("#tbxEmpresa").val("");
		$("#IdEmpresa").val(0);
        $("#Tienda").val(""),
        $("#Sequence").val("");
        $("#Periodo").val(0);
        $("#Imss").val(0);
        $("#RCU").val(0);
        $("#Infonavit").val(0);
        $("#Sueldo").val(0);
        $("#BonoPuntualidad").val(0);
        $("#BonoAsistencia").val(0);
        $("#PrimaVacacional").val(0);
        $("#PrimaDominical").val(0);
        $("#Vacaciones").val(0);
        $("#Retroactivo").val(0);
        $("#ValesDespensa").val(0);
        $("#Aguinaldo").val(0);
        $("#SobreNomina").val(0);
        $("#RetencionSalario").val(0);
        $("#RetencionAguinaldo").val(0);
        $("#FondoAhorro").val(0);
        $("#Finiquito").val(0);
        $("#PTU").val(0);
        $("#Extras").val(0);
        $("#Total").val(0);
    }
</script>