@{
    ViewBag.Title = "Reporte Bitacora Articulo";
}

<section class="content-header">
    <h1>
        <small>Panel de control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Alta Sap</a></li>
        <li class="active">Reporte Modificaciones</li>
        <li class="active">GL</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <i class="fa fa-filter"></i>

                    <h3 class="box-title">Filtros</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="RangoFechas">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-success BuscarSIE">Buscar</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-footer">

                </div>
                <div id="FiltrosWait" style="display:none;" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle de Bitacora bitacora de modificaciones Articulos</h3>
                </div>
                <div class="box-body">
                    <div class="table table-responsive">
                        <table class="table table-bordered" id="table-detalle">
                            <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>Marca</th>
                                    <th>Familia</th>
                                    <th>Categoria</th>
                                    <th>Clasificación</th>
                                    <th>Tipo producto</th>
                                    <th>Tipo de Empaque</th>
                                    <th>Inner</th>
                                    <th>Master</th>
                                    <th>Descripción</th>
                                    <th>Descripción Ingles</th>
                                    <th>Accesorios</th>
                                    <th>Sku Fabricante</th>
                                    <th>Cod. Proveedor</th>
                                    <th>Minimo</th>
                                    <th>Máximo</th>
                                    <th>Largo</th>
                                    <th>Ancho</th>
                                    <th>Alto</th>
                                    <th>Peso</th>
                                    <th>Norm. Mexicana</th>
                                    <th>Cod. SAT</th>
                                    <th>Fracción Arancelaria</th>
                                    <th>Grupo Aduanal</th>
                                    <th>DescripcionAduana</th>                                    
                                    <th>Barcode</th>
                                    <th>BarcodeInner</th>
                                    <th>BarcodeMaster</th>
                                    <th>Fecha Modif.</th>
                                    <th>Usuario Modifico</th>
                                </tr>
                            </thead>
                            <tbody id="body-detalle"></tbody>
                        </table>
                    </div>

                </div>
                <div class="box-footer">

                </div>
                <div id="bitacora-overload" style="display:none;" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>

</section>

<script>

    initModule();


    $("#RangoFechas").daterangepicker({
        locale: {
            cancelLabel: "Clear",
            daysOfWeek: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
            monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
        }

    }).on('apply.daterangepicker', function (ev, picker) {//Cuando se oprime el boton de aceptar
        hideOverlays();
    }).on('show.daterangepicker', function (ev, picker) {//Cuando se muestra
        showOverlays();
    }).on('hide.daterangepicker', function (ev, picker) {//Cuando se esconde
        hideOverlays();
    });


    function showOverlays() {
        $("#ButtonsWait").show();
        $("#FiltrosWait").show();
        $("#DetallesWait").show();
    }

    function hideOverlays() {
        $("#ButtonsWait").hide();
        $("#FiltrosWait").hide();
        $("#DetallesWait").hide();
    }

    function initModule() {
        //Search();
        //$("#bitacora-overload").show();
    }
    function Search() {
        $("#bitacora-overload").show();

        var drp = $('#RangoFechas').data('daterangepicker');
        var Del = drp.startDate.format('YYYY/MM/DD');
        var Al = drp.endDate.format('YYYY/MM/DD');

        $.post('@Url.Action("GetReporteBitacoraArticulos", "AltaSap")', {Del: Del, Al: Al},
            function (data) {
            if (data.Context != null && $.isArray(data.Context)) {
                var table = $('#table-detalle').DataTable();
                table.destroy();
                $("#boby-detalle").html('');                

                $.each(data.Context, function (index, value) {                    
                    $("#body-detalle").append('<tr>\
                                <td>' + value.Sku + '</td>\
                                <td>' + value.Marca + '</td>\
                                <td>' + value.FamiliaM + '</td>\
                                <td>' + value.Categoria + '</td>\
                                <td>' + value.Clasificacion + '</td>\
                                <td>' + value.TipoProducto + '</td>\
                                <td>' + value.Tipo + '</td>\
                                <td>' + value.CantInner + '</td>\
                                <td>' + value.CantMaster + '</td>\
                                <td>' + value.DescripcionComercial + '</td>\
                                <td>' + value.DescripcionIngles + '</td>\
                                <td>' + value.Accesorios + '</td>\
                                <td>' + value.SkuFabricante + '</td>\
                                <td>' + value.CodigoProveedor + '</td>\
                                <td>' + value.Minimo + '</td>\
                                <td>' + value.Maximo + '</td>\
                                <td>' + value.Largo + '</td>\
                                <td>' + value.Ancho + '</td>\
                                <td>' + value.Alto + '</td>\
                                <td>' + value.Peso + '</td>\
                                <td>' + value.Nom + '</td>\
                                <td>' + value.CodigoSAT + '</td>\
                                <td>' + value.Franccion + '</td>\
                                <td>' + value.Aduanas + '</td>\
                                <td>' + value.DescripcionAduana + '</td>\
                                <td>' + value.Barcode + '</td>\
                                <td>' + value.BarcodeInner + '</td>\
                                <td>' + value.BarcodeMaster + '</td>\
                                <td>' + moment(value.ModificadoEl).format("YYYY-MM-DD HH:mm:ss") + '</td>\
							    <td>' + value.UsuarioModifico + '</td>\
                           </tr>');
                });

                $('#table-detalle').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'excel'
                    ],
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                    }
                });
                $("#bitacora-overload").hide();
            } else {
            }
        });
        $("#bitacora-overload").hide();
    }

    $(".BuscarSIE").click(function () {
        Search();
    });

    var formatNumber = {
        separador: ",", // separador para los miles
        sepDecimal: '.', // separador para los decimales
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        new: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    }
</script>

